<div class='doc_nav_container'>
  <div class='content_container nav'>
    <div class='doc_nav'>
      <ul>
        {% if page.type != 'post' %}
        <li id='breadcrumbs'>
          <a href="{{ '/' | post_url }}" style='padding-left: 0;'>Documentation</a>
          <span class='breadcrumb_post_title'>
            <img src="{{ '/images/greaterThan.png' | image_url }}" />
            {% if page.type %}
            {% case page.type %}{% when 'category' %}{{ page.category }}{% when 'search' %} Search {% endcase %}
            {% else %}
            {{ page.title }}
            {% endif %}
          </span>
        </li>
        {% else %}
        <li id='breadcrumbs'>
          {% if page.category && page.category != 'no_index' %}
          <a href="{{ '/' | post_url }}">Documentation</a>
          <span class='breadcrumb_post_title'>
            <img src="{{ '/images/greaterThan.png' | image_url }}" />
            {% if page.special_category_link %}
            {% case page.special_category_link %}
            {% when "developers" %}
            <a href="{{ '/developers' | post_url }}">Developers</a>
            {% when "Wistia Basics" %}
            <a href="{{ '/wistia-basics' | post_url }}">Wistia Basics</a>
            {% endcase %}
            {% else %}
            <a href='{{ page.category | category_url }}'>{{ page.category }}</a>
            {% endif %}
          </span>
          {% else %}
          <a href="{{ '/' | post_url }}">Documentation</a>
          {% endif %}
          <span class='breadcrumb_post_title'>
            <img src="{{ '/images/greaterThan.png' | image_url }}" />
            {{ page.title }}
          </span>
        </li>
        {% endif %}
        <li class='doc_nav_search' id='search'>
          <input class='example' id='searchField' placeholder='Search our docs' type='text' />
          <button id='search_button'></button>
        </li>
      </ul>
    </div>
  </div>
</div>
