<div id='doc_nav'>
  <div id='doc_nav_container'>
    <ul>
      {% if page.type != 'post' %}
      <li id='breadcrumbs'>
        <a href="{{ '/doc' | asset_url }}">Doc Main</a>
        <span class='breadcrumb_post_title'>
          &gt;
          {% case page.type %}{% when 'category' %}{{ page.category }}{% when 'search' %} Search {% endcase %}
        </span>
      </li>
      {% else %}
      <li id='breadcrumbs'>
        {% if page.category %}
        <a href='{{ page.category | category_url }}'>{{ page.category }}</a>
        {% else %}
        <a href="{{ '/' | asset_url }}">Doc Main</a>
        {% endif %}
        <span class='breadcrumb_post_title'>
          &gt;
          {{ page.title }}
        </span>
      </li>
      {% endif %}
      <li id='nav_search_box'>
        <div class='search_bar nav_bar'>
          <input class='nav_bar' id='search_text' placeholder='search our docs' type='text' />
          <button id='search_button'>search</button>
        </div>
      </li>
    </ul>
  </div>
</div>
