---
title: Wistia Documentation Frequently Asked Questions
layout: post
---

`<style float-right>`{{:wistia_faq_guide.png|}}`</style>`
\\
\\
\\
The Wistia documentation FAQ are for the questions we've received over the years that stubbornly refuse to fit into a category.  They deserved to be answered, and the FAQ is here to help.
\\
\\
\\
\\
\\
\\
##  Questions 

*  [How should I export my Wistia videos?]({{ site.url }}/{{ page.lang }}/#How should I export my Wistia videos?.html)\\

*  [What do my viewers need to watch Wistia videos?]({{ site.url }}/{{ page.lang }}/#What do my viewers need to watch Wistia videos?.html)\\

*  [If I give access by link, what do my viewers see?]({{ site.url }}/{{ page.lang }}/#If I give access by link, what do my viewers see?.html)\\

*  [I uploaded my video, and it needs "special processing", what's that mean?]({{ site.url }}/{{ page.lang }}/#I uploaded my video, and it needs "special processing".  What's that mean?.html)\\

*  [How do I add a description to my video?]({{ site.url }}/{{ page.lang }}/#How do I add a description to my video?.html)\\

*  [How do I change the thumbnail of my video?]({{ site.url }}/{{ page.lang }}/#How do I change the thumbnail of my video?.html)\\

*  [How do I get HD video with Wistia?]({{ site.url }}/{{ page.lang }}/#How do I get HD video with Wistia?.html)\\

*  [Can I upload large files to Wistia?]({{ site.url }}/{{ page.lang }}/#Can I upload large files to Wistia?.html)\\

*  [I got an upload error...what's what mean?]({{ site.url }}/{{ page.lang }}/#I got an upload error?.html)\\

*  [What are the permission levels in Wistia?]({{ site.url }}/{{ page.lang }}/#What are the permissions levels in Wistia?.html)\\

*  [What about IP Filtering?  Can I filter out my views of Wistia videos?]({{ site.url }}/{{ page.lang }}/#Can I filter my own views out of my analytics?.html)\\
\\
\\
### How should I export my Wistia videos?

We recommend the following settings for best performance using Wistia:
\\

*  **format:** Wistia accepts the majority of video file formats, but we recommend MP4 when possible.  It is the most compatible and efficient file format.  The full list of file formats we accept is here: [Wistia File Formats]({{ site.url }}/{{ page.lang }}/uploading-and-transcoding#what_types_of_files_can_be_uploaded_to_wistia.html).\\

*  **codec:** Again, Wistia accepts many codecs, but H.264 currently has the best combination of quality and efficient file size.\\

*  **video dimensions:** Because Wistia will transcode the video to be viewable everywhere for you, we recommend HD (1280px wide) where possible.\\

*  **aspect ratio:** Wistia accepts video of any aspect ratio, and will maintain it throughout the encoding & embedding process.\\

*  **bit rate:** We recommend limiting your bit rate to less than 3,000 kilobits per second.  Because we will transcode to lower bit rates for web viewing, it is not advantageous to go higher.\\
\\
\\
###  What do my viewers need to watch Wistia videos?

Wistia is friendly with almost any OS, browser, and device on the planet (we are friendly folks, after all).  Our guiding rule of thumb: "If your viewers can watch YouTube videos, they can watch Wistia videos".  For a more detailed explanation, head here: [Wistia Viewer Requirements]({{ site.url }}/{{ page.lang }}/viewer-rec.html).
\\
\\
### If I give access by link, what do my viewers see?

As the manager of an account, you have access to features/settings that the normal viewer will not.  What the viewer sees will be determined completely by what permissions you have given them, but here is a primer on what it looks like if no permissions have been added for that viewer (ie. default permissions).  Use the slider to see manager level vs. viewer:
\\
\\

`<style center>`

**Project Screen**\\
`<html>`
`<iframe style="border: 0px  none;" name="proj_diff" src="http://files.wistia.com/doc/views_diff.html" frameborder="0" marginwidth="0px" marginheight="0px" scrolling="no" width="640px" height="360px">``</iframe>`
`</html>`
`</style>`
\\
\\
`<style center>`

**Media Screen**\\
`<html>`
`<iframe style="border: 0px  none;" name="proj_diff2" src="http://files.wistia.com/doc/views_diff2.html" frameborder="0" marginwidth="0px" marginheight="0px" scrolling="no" width="640px" height="360px">``</iframe>`
`</html>`
`</style>`
\\
\\
### I uploaded my video, and it needs "special processing".  What's that mean?

Wistia's Smart Encoding was designed to take the frustration out moving video from your computer to the web.  In many cases, our algorithms can detect the type of video and apply settings specifically designed for that video.
\\
\\
Still, sometimes a video can trip up the system.  When that happens, the video encoding team (the pixel alliance, as they call themselves) is notified, and they jump into action.  This normally involves a manual re-encoding of the video with new settings, but can sometimes involve multiple re-encodes to get things looking right.  When you receive a "special processing" message on your media, rest assured Wistia is on the case and will re-post the video within 24 hours.  If you ever have questions about a specific video, just email us at `<support@wistia.com>`.  Make sure to include the URL in your account where the video is located.
\\
\\
### How do I add a description to my video?

Descriptions set context for your video, and can be used to point viewers to other references.
\\
To create a new description, first head to the page in your account where the video lives.  Under the "Media Actions" drop-down menu, choose "Add Sidebar Element".
\\
In the box that pops up, choose "Add Description", which will give you a space to add text next to your video. Enjoy!
\\
\\
### How do I change the thumbnail of my video?

On the page with the video you'd like to update, select "update thumbnail" under the "Media Actions" drop-down menu.  This will give you two options: the first is to upload a custom thumbnail image from your computer.  The second is to select the current frame of the video as your new thumbnail.
\\
\\
### How do I get HD video with Wistia?

With Wistia, we've tried to take the mystery out of HD.  For example, there's no HD button, no uploading multiple files for HD, we don't require special HD embed codes.
\\
Instead, we've chosen a simpler path: if you upload an HD quality video (1280px wide or larger), we'll do all the encoding for you behind the scenes.  When the viewer watches the video at smaller than HD size, they'll automatically view an SD version of the video.  To the eye, an HD version would look similar at this size.  If the viewer decides to full-screen the video, or if you embed it at HD size (1280, 1920), the system will automatically switch them to HD.  Easy as that, just the way video was meant to be viewed.
\\
\\

### Can I upload large files to Wistia?

Yes!  The standard Wistia uploader (denoted with the blue 'up' arrow under the "Media Actions" drop-down menu) is built in Flash, and has a limit of 2GB per file.  If you need to go larger, please use the [Simple Uploader]({{ site.url }}/{{ page.lang }}/simple-uploader.html), which is built in HTML and can support larger files.  The only drawback with the Simple Uploader is the lack of a progress bar (which is solved in browsers like Chrome, which provide their own).
\\
\\

### I got an upload error?

The Wistia upload process is as follows - you upload from your computer to a set of encoding machines we call the bakery.  Once that video is completed, your account is notified of the new media.
\\
\\
Sometimes, this upload fails, which normally gives the error "//Upload error: Error #2049//".  This error is related to the Flash plug-in on your computer - the message from the bakery to your account failed.  Re-starting your browser session (closing your browser and re-launching) normally fixes this problem.  You can also try our [Simple Uploader]({{ site.url }}/{{ page.lang }}/simple-uploader.html), which doesn't require Flash.
\\
\\

### What are the permissions levels in Wistia?

Wistia allows you pin-point control on what viewers have different levels of access to your content (ie. can view, can download, can upload new content).  To see the full breakdown, [head here]({{ site.url }}/{{ page.lang }}/permissions.html).
\\
\\
### Can I filter my own views out of my analytics?

`<style float-right>`{{:embed_settings_screen2.png}}`</style>`
\\
Yes!  You can filter out your views based on IP, and those of the other testers you might have looking at your Wistia videos before launch.  In your Account Settings, click the "Account" tab and look for a box titled "IP Filtering", Here you can enter comma-separated IP addresses.  The IP Filtering tool is only available on the Account Settings, so you will need owner-level permissions to access it.
\\
\\
\\
\\
\\
\\
\\
\\

