<style type='text/css'>
@font-face {
  font-family: "helveticaneue45";
  src: url("/fonts/helveticaneue45.eot");
  src: url("/fonts/helveticaneue45.eot?#iefix") format("embedded-opentype"), url("/fonts/helveticaneue45.woff") format("woff"), url("/fonts/helveticaneue45.ttf") format("truetype"), url("/fonts/helveticaneue45.svg#helveticaneue45") format("svg");
  font-weight: normal;
  font-style: normal; }

#footer {
  position: relative;
  background: url("/images/elements/footer_gradient.png") repeat-x;
  height: 80px;
  text-align: center; }
  #footer ul.nav-list {
    margin-top: 0px;
    padding-top: 30px;
    white-space: nowrap;
    list-style-type: none;
    padding-left: 0px; }
  #footer li {
    display: inline;
    font-family: "helveticaneue45", Helvetica, Arial, sans-serif;
    padding-left: 13px;
    padding-right: 8px;
    font-size: 14px;
    border-left: 1px solid #bbbbbb; }
  #footer li:first-child {
    border: 0; }
  #footer a {
    text-decoration: none;
    color: #aaaaaa;
    padding: 10px 0px; }

#footer:hover a {
  color: #777777; }
#footer:hover a:hover {
  color: #222222; }
</style>
<div id='footer'>
<ul class='nav-list'>
<li>
<a href='/doc/'>Documentation</a>
</li>
<li>
<a href='/privacy' target='_blank'>Privacy Policy</a>
</li>
<li>
<a href='/about/yearbook'>Team</a>
</li>
<li>
<a href='http://www.50grove.com' target='_blank'>50 Grove</a>
</li>
<li>
<a href='http://pages.wistia.com/newsletter' target='_blank'>Newsletter</a>
</li>
<li>
<a href='http://twitter.com/wistia' target='_blank'>@wistia</a>
</li>
<li>
<a href='/content/megaplex'>The Megaplex</a>
</li>
</ul>
</div>
