<style type='text/css'>
@font-face {
  font-family: "Avenir";
  src: url("http://wistia.com/fonts/avenir/avenir-45.eot?#iefix");
  src: url("http://wistia.com/fonts/avenir/avenir-45.eot?#iefix") format("eot"), url("http://wistia.com/fonts/avenir/avenir-45.woff") format("woff"), url("http://wistia.com/fonts/avenir/avenir-45.ttf") format("truetype"), url("http://wistia.com/fonts/avenir/avenir-45.svg#avenir-45") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Avenir";
  src: url("http://wistia.com/fonts/avenir/avenir-85.eot?#iefix");
  src: url("http://wistia.com/fonts/avenir/avenir-85.eot?#iefix") format("eot"), url("http://wistia.com/fonts/avenir/avenir-85.woff") format("woff"), url("http://wistia.com/fonts/avenir/avenir-85.ttf") format("truetype"), url("http://wistia.com/fonts/avenir/avenir-85.svg#avenir-85") format("svg");
  font-weight: 700; }

@font-face {
  font-family: "wistiacom-icons";
  src: url("http://wistia.com/fonts/wistiacom-icons.eot");
  src: url("http://wistia.com/fonts/wistiacom-icons.eot?#iefix") format("embedded-opentype"), url("http://wistia.com/fonts/wistiacom-icons.svg#wistia-icons") format("svg"), url("http://wistia.com/fonts/wistiacom-icons.woff") format("woff"), url("http://wistia.com/fonts/wistiacom-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

#wistiacom_footer {
  position: relative;
  background-color: #0e7ac4;
  text-align: center;
  z-index: 100; }
  #wistiacom_footer .footer_container {
    z-index: 100;
    margin: 0 auto;
    max-width: 1080px;
    height: 100%;
    position: relative;
    padding: 40px 20px 60px; }
    #wistiacom_footer .footer_container .footer_sections {
      list-style-type: none;
      margin: 0;
      text-align: center;
      padding-left: 0;
      margin-top: 30px;
      position: relative;
      display: inline-block;
      *display: inline;
      vertical-align: top;
      zoom: 1; }
      @media (max-width: 960px) {
        #wistiacom_footer .footer_container .footer_sections {
          display: block; } }
    #wistiacom_footer .footer_container .links ul {
      margin-top: 0px;
      white-space: nowrap;
      list-style-type: none;
      padding-left: 0px; }
    #wistiacom_footer .footer_container li, #wistiacom_footer .footer_container p {
      font-family: "Avenir", "Futura", Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 28px;
      -webkit-font-smoothing: antialiased; }
      @media (max-width: 650px) {
        #wistiacom_footer .footer_container li, #wistiacom_footer .footer_container p {
          font-size: 18px; } }
    #wistiacom_footer .footer_container h3 {
      color: #3ea9f5;
      font-family: "Avenir", "Futura", Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 1px;
      margin-top: 0;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
      white-space: nowrap; }
      @media (max-width: 650px) {
        #wistiacom_footer .footer_container h3 {
          font-size: 20px;
          font-weight: 400; } }
    #wistiacom_footer .footer_container a {
      text-decoration: none;
      color: white;
      padding: 10px 0px; }
      #wistiacom_footer .footer_container a:hover {
        text-decoration: underline; }
    #wistiacom_footer .footer_container .links {
      display: inline-block;
      *display: inline;
      vertical-align: top;
      zoom: 1;
      width: 200px;
      text-align: left; }
      @media (max-width: 650px) {
        #wistiacom_footer .footer_container .links {
          text-align: center; }
          #wistiacom_footer .footer_container .links.product, #wistiacom_footer .footer_container .links.community, #wistiacom_footer .footer_container .links.company, #wistiacom_footer .footer_container .links.blog, #wistiacom_footer .footer_container .links.social {
            display: block;
            margin: 0 auto 25px; }
            #wistiacom_footer .footer_container .links.product h3, #wistiacom_footer .footer_container .links.community h3, #wistiacom_footer .footer_container .links.company h3, #wistiacom_footer .footer_container .links.blog h3, #wistiacom_footer .footer_container .links.social h3 {
              margin: 0; }
          #wistiacom_footer .footer_container .links.blog, #wistiacom_footer .footer_container .links.social {
            width: 200px; } }
      #wistiacom_footer .footer_container .links.blog {
        padding: 0px 60px;
        width: 150px; }
        #wistiacom_footer .footer_container .links.blog:before, #wistiacom_footer .footer_container .links.blog:after {
          content: "";
          position: absolute;
          background-color: #3ea9f5;
          width: 1px;
          height: 120px;
          top: 40px; }
        #wistiacom_footer .footer_container .links.blog:before {
          left: 0px; }
        #wistiacom_footer .footer_container .links.blog:after {
          right: 100px; }
        @media (max-width: 960px) {
          #wistiacom_footer .footer_container .links.blog:before, #wistiacom_footer .footer_container .links.blog:after {
            background-color: transparent; } }
        #wistiacom_footer .footer_container .links.blog p {
          line-height: 20px;
          margin-top: 5px; }
      #wistiacom_footer .footer_container .links.social {
        width: 40px;
        margin-top: 50px;
        margin-left: 50px; }
        @media (max-width: 650px) {
          #wistiacom_footer .footer_container .links.social {
            width: 200px;
            margin: 0 auto; } }
        #wistiacom_footer .footer_container .links.social .icon {
          display: block;
          font-family: "wistiacom-icons";
          font-size: 28px;
          font-style: normal;
          speak: none;
          font-weight: normal;
          -webkit-font-smoothing: antialiased; }
        #wistiacom_footer .footer_container .links.social .icon-twitter, #wistiacom_footer .footer_container .links.social .icon-facebook {
          color: #3ea9f5; }
          #wistiacom_footer .footer_container .links.social .icon-twitter:hover, #wistiacom_footer .footer_container .links.social .icon-facebook:hover {
            color: white;
            text-decoration: none; }
        #wistiacom_footer .footer_container .links.social .icon-twitter:before {
          font-family: "wistiacom-icons";
          content: "\e007"; }
        #wistiacom_footer .footer_container .links.social .icon-facebook:before {
          font-family: "wistiacom-icons";
          content: "\e008"; }
        @media (max-width: 650px) {
          #wistiacom_footer .footer_container .links.social {
            width: auto; }
            #wistiacom_footer .footer_container .links.social .icon {
              display: inline-block;
              *display: inline;
              vertical-align: top;
              zoom: 1; } }
</style>
<div id='wistiacom_footer'>
<div class='footer_container'>
<ul class='footer_sections'>
<li class='product links'>
<h3>Product</h3>
<ul>
<li>
<a href='http://wistia.com/product'>Features</a>
</li>
<li>
<a href='http://wistia.com/doc/developers'>Developers</a>
</li>
<li>
<a href='http://wistia.com/support'>Help & Support</a>
</li>
</ul>
</li>
<li class='company links'>
<h3>Company</h3>
<ul>
<li>
<a href='http://wistia.com/about/yearbook'>Team</a>
</li>
<li>
<a href='http://wistia.com/privacy' target='_blank'>Privacy Policy</a>
</li>
<li>
<a href='http://wistia.com/terms' target='_blank'>Terms of Service</a>
</li>
<li>
<a href='http://wistia.theresumator.com/apply'>Jobs</a>
</li>
<li>
<a href='http://wistia.com/about/assets'>Brand Assets</a>
</li>
</ul>
</li>
<li class='community links'>
<h3>Community</h3>
<ul>
<li>
<a href='http://wistia.com/learning'>The Learning Center</a>
</li>
<li>
<a href='http://wistia.com/blog' target='_blank'>Blog</a>
</li>
<li>
<a href='http://50grove.wistia.com' target='_blank'>Video Producers</a>
</li>
</ul>
</li>
</ul>
<ul class='footer_sections'>
<li class='blog links'>
<h3>Blog: Jan 9</h3>
<a href='http://wistia.com/blog/organize-your-videos'>
<img src='http://wistia.com/images/footer/blog-thumbnail.png?032514'>
<p>A New Way to Organize Your Videos</p>
</a>
</li>
<li class='social links'>
<a class='icon icon-twitter' href='http://www.twitter.com/wistia' target='_blank'></a>
<a class='icon icon-facebook' href='http://www.facebook.com/wistia' target='_blank'></a>
</li>
</ul>
</div>
</div>
