<ul class='footer_content for_beginners'>
  <li>
    <p>
      <b>New to Wistia?</b>
    </p>
    <p>
      Get started the right way with videos designed for you.
    </p>
    <p>
      <a href="{{ '/wistia-basics' | post_url }}" target='_blank'>
        Getting Started video guides
      </a>
    </p>
  </li>
  <li>
    <p>
      <b>Get Your Account Set Up Right</b>
    </p>
    <p>
      Customize your logo, account URL, and more.
      Head to the Account Setup doc page for more!
    </p>
    <p>
      <a href="{{ '/account-setup' | post_url }}" target='_blank'>
        Account Setup
      </a>
    </p>
  </li>
</ul>
