<ul class='footer_content for_developers'>
  <li>
    <p>
      <b>Need Wistia Dev Help?</b>
    </p>
    <p>
      We set up a Developer's Forum
      to connect you with other API users and get help fast!
    </p>
    <p>
      <a href='http://dev-forum.wistia.com' target='_blank'>Wistia Dev Forum</a>
    </p>
  </li>
  <li>
    <p>
      <b>The Wistia Data API</b>
    </p>
    <p>
      Everything you need to know about using Wistia programmatically, on one glorious page.
    </p>
    <p>
      <a href="{{ '/data-api' | post_url }}">Data API Doc Page</a>
    </p>
  </li>
</ul>
