<ul class='footer_content for_intermediates'>
  <li>
    <h4>Wistia Video SEO</h4>
    <p>
      Use Wistia to get better traffic from search engines.
    </p>
    <p>
      <a href="{{ '/video-seo' | post_url }}" target='_blank'>Video SEO Guide</a>
    </p>
  </li>
  <li>
    <h4>Private Sharing in Wistia</h4>
    <p>
      Use contacts and contact groups to share videos privately, and track how they watch.
    </p>
    <p>
      <a href="{{ '/private-sharing' | post_url }}" target='_blank'>Private Sharing guide</a>
    </p>
  </li>
</ul>
