%ul.footer_content.for_developers
  %li 
    %b Check out the Developers Forum
    %br
    Head to 
    %a{ href: 'http://dev-forum.wistia.com', target: '_blank' } dev-forum.wistia.com
    for more info.
  %li
    %b Enable your API credentials!
    %br
    OMG how have you not done this yet?
