<style type='text/css'>
@font-face {
  font-family: "Avenir";
  src: url("/fonts/avenir/avenir-85.eot?#iefix");
  src: url("/fonts/avenir/avenir-85.eot?#iefix") format("eot"), url("/fonts/avenir/avenir-85.woff") format("woff"), url("/fonts/avenir/avenir-85.ttf") format("truetype"), url("/fonts/avenir/avenir-85.svg#avenir-85") format("svg");
  font-weight: 700;
  font-style: normal; }

.wistiacom_header {
  background: white;
  border-top: 6px solid #eceef1;
  z-index: 100;
  position: relative;
  min-height: 100px; }
  .wistiacom_header .head_container {
    z-index: 100;
    height: 100%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px; }
  .wistiacom_header .header_logo {
    text-align: left;
    height: 40px;
    left: 0;
    width: 220px;
    margin: 35px 0;
    position: relative;
    display: inline-block;
    *display: inline;
    vertical-align: top;
    zoom: 1; }
    .wistiacom_header .header_logo a {
      position: absolute;
      width: 220px;
      height: 40px;
      background: url("http://wistia.com/images/elements/skeletor/logo.png") no-repeat; }
      .wistiacom_header .header_logo a:hover {
        background-position: 0px -40px; }
  .wistiacom_header .nav {
    position: relative;
    left: 10%;
    text-align: left;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    display: inline-block;
    *display: inline;
    vertical-align: top;
    zoom: 1; }
    @media (max-width: 960px) {
      .wistiacom_header .nav {
        left: 5%; } }
    @media (max-width: 650px) {
      .wistiacom_header .nav {
        left: 0; } }
    .wistiacom_header .nav ul {
      display: inline-block;
      *display: inline;
      vertical-align: top;
      zoom: 1;
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 0px; }
      .wistiacom_header .nav ul.second {
        margin-left: 90px; }
      @media (max-width: 1080px) {
        .wistiacom_header .nav ul.second {
          margin-left: 20px; } }
      .wistiacom_header .nav ul li {
        display: inline-block;
        *display: inline;
        vertical-align: top;
        zoom: 1;
        margin-top: -6px;
        position: relative;
        z-index: 0;
        width: 130px;
        text-align: center;
        border-top: 6px solid transparent; }
        @media (max-width: 1080px) {
          .wistiacom_header .nav ul li {
            width: 100px; } }
        @media (max-width: 650px) {
          .wistiacom_header .nav ul li {
            border: none; } }
        .wistiacom_header .nav ul li.features, .wistiacom_header .nav ul li.pricing, .wistiacom_header .nav ul li.learning {
          text-transform: uppercase; }
        .wistiacom_header .nav ul li.features:hover {
          border-top: 6px solid #faa928; }
          .wistiacom_header .nav ul li.features:hover a {
            color: #faa928; }
        .wistiacom_header .nav ul li.pricing:hover {
          border-top: 6px solid #f27398; }
          .wistiacom_header .nav ul li.pricing:hover a {
            color: #f27398; }
        .wistiacom_header .nav ul li.learning {
          transition: margin 0.5s ease-in-out;
          -moz-transition: margin 0.5s ease-in-out;
          -webkit-transition: margin 0.5s ease-in-out; }
          .wistiacom_header .nav ul li.learning:hover {
            border-top: 6px solid #56be8e; }
            .wistiacom_header .nav ul li.learning:hover a {
              color: #56be8e; }
          @media (max-width: 1080px) {
            .wistiacom_header .nav ul li.learning {
              margin-right: 0; } }
        .wistiacom_header .nav ul li.signup a, .wistiacom_header .nav ul li.login a {
          letter-spacing: 1px; }
        .wistiacom_header .nav ul li.signup:hover {
          border-top: 6px solid #40aaef; }
          .wistiacom_header .nav ul li.signup:hover a {
            color: #40aaef; }
        .wistiacom_header .nav ul li.login:hover {
          border-top: 6px solid #0e7ac4; }
          .wistiacom_header .nav ul li.login:hover a {
            color: #0e7ac4; }
        @media (max-width: 960px) {
          .wistiacom_header .nav ul li.features, .wistiacom_header .nav ul li.pricing, .wistiacom_header .nav ul li.learning, .wistiacom_header .nav ul li.signup, .wistiacom_header .nav ul li.login {
            border-color: transparent; }
            .wistiacom_header .nav ul li.features:hover, .wistiacom_header .nav ul li.pricing:hover, .wistiacom_header .nav ul li.learning:hover, .wistiacom_header .nav ul li.signup:hover, .wistiacom_header .nav ul li.login:hover {
              border-color: transparent; } }
        @media (max-width: 650px) {
          .wistiacom_header .nav ul li.features, .wistiacom_header .nav ul li.pricing, .wistiacom_header .nav ul li.learning, .wistiacom_header .nav ul li.signup, .wistiacom_header .nav ul li.login {
            border-color: transparent; }
            .wistiacom_header .nav ul li.features:hover, .wistiacom_header .nav ul li.pricing:hover, .wistiacom_header .nav ul li.learning:hover, .wistiacom_header .nav ul li.signup:hover, .wistiacom_header .nav ul li.login:hover {
              border-color: transparent; } }
      .wistiacom_header .nav ul a {
        display: block;
        padding: 46px 0px;
        text-decoration: none;
        font-family: "Avenir", "Futura", sans-serif;
        font-size: 17px;
        font-weight: 500;
        color: #555555;
        letter-spacing: 2px;
        outline: none;
        margin: 0 auto;
        -webkit-font-smoothing: subpixel-antialiased; }
        @media (max-width: 1080px) {
          .wistiacom_header .nav ul a {
            font-size: 14px; } }
        @media (max-width: 650px) {
          .wistiacom_header .nav ul a {
            padding: 20px 0; } }
</style>
<div class='wistiacom_header'>
<div class='head_container'>
<div class='header_logo'>
<a href='/'></a>
</div>
<div class='nav'>
<ul class='first'>
<li class='features'>
<a href='http://wistia.com/product'>Features</a>
</li>
<li class='pricing'>
<a href='http://wistia.com/pricing'>Pricing</a>
</li>
<li class='learning'>
<a href='http://wistia.com/learning'>Learning</a>
</li>
</ul>
<ul class='second'>
<li class='signup'>
<a href='http://wistia.com/free/new'>Sign Up</a>
</li>
<li class='login'>
<a href='https://secure.wistia.com/login' style='padding-right: 0px'>Login</a>
</li>
</ul>
</div>
</div>
</div>
