<ul>
  <li>
    <a href='start.html'>Quickstart Guide</a>
  </li>
  <li>
    <a href='uploading-and-transcoding.html'>Uploading</a>
  </li>
  <li>
    <a href='sharing.html'>Sharing Video</a>
  </li>
  <li>
    <a href='tracking_and_alerts.html'>Tracking & Alerts</a>
  </li>
  <li>
    <a href='managing_projects_media_and_contacts#projects.html'>Projects</a>
  </li>
  <li>
    <a href='managing_projects_media_and_contacts#contacts.html'>Contacts</a>
  </li>
  <li>
    <a href='account_management.html'>Account Management</a>
  </li>
  <li>
    <a href='data-api.html'>API</a>
  </li>
</ul>
