<div id="wistia_9bi8datskq" class="wistia_embed" style="width:660px;height:371px;" data-video-width="660" data-video-height="371">&nbsp;</div>
<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1.js"></script>
<script>
wistiaEmbed = Wistia.embed("9bi8datskq", {
  version: "v1",
  videoWidth: 660,
  videoHeight: 371,
  playerColor: "81b7db",
  plugin: {
    wistiafollows: {
      postRoll: {
        screenName: "Wistia",
        showScreenName: true
      },
      people: [
        {
          screenName: "brendan",
          start: 7,
          end: 10
        },
        {
          screenName: "csavage",
          start: 21,
          end: 25
        },
        {
          screenName: "jeffvincent",
          start: 32,
          end: 35
        }
      ],
      recap: [
        {
          screenName: "brendan"
        },
        {
          screenName: "csavage"
        },
        {
          screenName: "jeffvincent"
        }
      ],
      src: "http://fast.wistia.com/labs/twitter-follows/wistia-follows.js"
    }
  }
});
</script>
