<style>
  /* LEVEL 1 */
  /* background color */
  #wgh_level_1{ background: #fff; }

  /* text color */
  #wgh_sign_up, #wgh_my_account, #wgh_session_form a{ color: #363948; }

  /* selected color */
  #wgh_nav a.wgh_current{ color: #363948; }

  /* unselected color */
  #wgh_nav a{ color: #ced3d8; }

  /* hover color */
  #wgh_nav a:hover{ color: #767988; }

  /* LEVEL 2 */
  /* background color */
  #wgh_level_2{ background: #56be8e;}

  /* text color */
  #wgh_level_2, #wgh_subnav a{ color: #fff; }

  /* tooth color */
  #wgh_level_2 a .wgh_subsection_tooth{ border-bottom-color: #fff; }
</style>

<script>
  window.wghOptions = {
    sessionFormMethod: 'GET',
    logoType: 'white' // black/white/color
  };
</script>
