<div class='wistia-basics' id='wistiaBasics'>
  <h2>Wistia Basics Series</h2>
  <ul class='thumbnails'>
    <li>
      <a href='http://wistia.com/doc/wistia-basics-getting-started?dh'>
        <img src='//embed.wistia.com/deliveries/c2e6a5da1e9be8d51b04347d7702170a643013fd.jpg?image_resize=200'>
      </a>
      <a class='text-link' href='http://wistia.com/doc/wistia-basics-getting-started?dh'>
        Getting Started (2:41)
      </a>
    </li>
    <li>
      <a href='http://wistia.com/doc/wistia-basics-customization?dh'>
        <img src='//embed.wistia.com/deliveries/ef996f4f0a2c50de5c77f3e7339cb3505637d4c6.jpg?image_resize=200'>
      </a>
      <a class='text-link' href='http://wistia.com/doc/wistia-basics-customization?dh'>
        Customization (3:57)
      </a>
    </li>
    <li>
      <a href='http://wistia.com/doc/wistia-basics-embedding?dh'>
        <img src='//embed.wistia.com/deliveries/902db9c88bae0b2ae6420e7dcda40622a0bd76cc.jpg?image_resize=200'>
      </a>
      <a class='text-link' href='http://wistia.com/doc/wistia-basics-embedding?dh'>
        Embedding (5:03)
      </a>
    </li>
    <li>
      <a href='http://wistia.com/doc/wistia-basics-analytics?dh'>
        <img src='//embed.wistia.com/deliveries/27b40dd401546b3093304f5c7f58ec6d824cf5a8.jpg?image_resize=200'>
      </a>
      <a class='text-link' href='http://wistia.com/doc/wistia-basics-analytics?dh'>
        Analytics (4:16)
      </a>
    </li>
  </ul>
</div>
