table
  border: 1px solid rgba(62, 169, 245, 0.2)
  span.category
    font-weight: bold
    white-space: nowrap
  th
    white-space: nowrap
    font-weight: bold
  td
    padding: 10px 20px
    background: none
    border-bottom: 1px solid rgba(62, 169, 245, 0.2)
    a
      color: #3ea9f5
  thead th
    padding: 20px
    text-align: center
    a
      color: white
  td:not(:first-child)
    text-align: center

.button
  background-color: #3ea9f5
  display: block
  margin: 0 auto
  width: 50%
  text-align: center
  color: white
  padding: 5px
  font-weight: bold

