/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset

/////////////// vars ///////////////

$wistia_blue: #81c2f0

body
  font-family: Helvetica, Arial, sans-serif
  a
    color: $wistia_blue

h1
  font-size: 40px

header
  width: 1000px
  h1
    font-size: 60px
    a
      text-decoration: none
      color: black
      font-weight: bold
.home
  text-align: center
  margin: 100px auto 0
.post_pages
  margin: 30px auto 0

#container
  width: 1000px
  margin: 20px auto 30px
  padding: 25px

#content
  display: inline-block
  width: 100%
  ul
    padding-left: 10px
    margin-bottom: 20px
    line-height: 150%

.category_title
  font-size: 24px 
  margin-bottom: 10px

#post
  display: inline-block
  width: 66%
  .post_title
    margin-bottom: 20px
    border-bottom: 2px solid gray

#right_col
  display: inline-block
  vertical-align: top
  width: 25%
  line-height: 200%
  border: 2px solid red
  margin-left: 40px 
  padding: 15px
  a
    font-size: 24px
