\---
layout: base
type: post
\---

#api_nav_col
  %ul#page_nav

#post_container
  {% include doc_nav.html %}
  #post.api
    .post_title
      %h1 {{ page.title }}
    .post_content
      {% if page.post_intro %}
      .post_intro
        {{ page.post_intro }}
      {% endif %}
      {{ content }}

%script{ src: "{{ '/javascripts/api_content_nav' | javascript_url }}" }
%script{ src: "{{ '/javascripts/jquery.scrollTo' | javascript_url }}"  }
%script{ src: "{{ '/javascripts/jquery.nav' | javascript_url }}" }
%script{ src: "{{ '/javascripts/image_layout' | javascript_url }}" }
