\---
\---

!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en' }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => "text/html;charset=utf-8" }
    %link{ rel: 'stylesheet', type: 'text/css', href: "{{ '/stylesheets/screen' | stylesheet_url }}" }
    %link{ rel: 'stylesheet', type: 'text/css', href: "{{ '/stylesheets/prism' | stylesheet_url }}" }
    %script{ type: 'text/javascript', src: "{{ '/javascripts/jquery.min' | javascript_url }}" }
    :javascript
      var basepath = "{{ '' | post_url }}";

    %title
      {% if page.title == '' %} wDoc {% else %} wDoc: {{ page.title }} {% endif %}
    
  %body{ class: "{{ page.type }}_layout" }
    #header
      {% include header.html %}
    #container{ class: "{% if page.api %}api{% endif %}" }
      {{ content }}

    / scripts and such
    {% include addons_js.html %}
    %script{ src: "{{ '/javascripts/search_text' | javascript_url }}" }
