\---
\---

!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en' }
  %head
    %title
      {% if page.title == '' %} Support Documentation and Help {% else %} wDoc: {{ page.title }} {% endif %}

    {% if page.description %}
    %meta{ name: 'description', content: "{{ page.description }}"}
    {% endif %}
    %meta{ 'http-equiv' => 'Content-Type', :content => "text/html;charset=utf-8" }
    %link{ rel: 'stylesheet', type: 'text/css', href: "{{ '/stylesheets/screen' | stylesheet_url }}" }
    {% if page.plans_comparison %}
    %link{ rel: 'stylesheet', type: 'text/css', href: "{{ '/stylesheets/plans_comparison' | stylesheet_url }}" }
    {% endif %}
    %script{ type: 'text/javascript', src: "{{ '/javascripts/jquery.min' | javascript_url }}" }
    {% if page.developers %}
    %script{ type: "text/javascript", src: "//use.typekit.net/pft0gev.js" } 
    %script{ type: "text/javascript" } try{Typekit.load();}catch(e){}
    {% endif %}

    %link{href: "//cloud.typography.com/6901872/779304/css/fonts.css", rel: "stylesheet", type: "text/css"}/

    / Swiftype search
    /  the Hash Change JQuery plugin is required for swiftype.search.js
    :javascript
      (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
        (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
        e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
      })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
      _st('install','o5Y5JWTyxXFZXRRuJ2KZ','2.0.0');

    :javascript
      var basepath = "{{ '' | post_url }}";    
  %body{ class: "{{ page.type }}_layout" }
    {% include wgh_config.html %}
    {% include header.html %}
    {% unless page.no_nav %}{% include doc_nav.html %}{% endunless %}

    #container{ class: "{% if page.api %}api{% endif %}{% if page.type == 'devhq'%}devhq{% endif %}" }
      {{ content }}

    {% include footer.html %}
    {% include getCookie.html %}

    / scripts and such
    %script{ src: "{{ '/javascripts/mixpanel' | javascript_url }}" }
    %script{ src: "{{ '/javascripts/mixpanel_tracker' | javascript_url }}" }
    %script{ src: "{{ '/javascripts/selective_autoplay' | javascript_url }}" }

    :plain
      <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KSJ3B" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KSJ3B');</script>

