\---
\---

!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en' }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => "text/html;charset=utf-8" }
    %link{ rel: 'stylesheet', type: 'text/css', href: "{{ '/stylesheets/screen' | stylesheet_url }}" }
    %link{ rel: 'stylesheet', type: 'text/css', href: "{{ '/stylesheets/font-awesome' | stylesheet_url }}" }
    %link{ rel: 'stylesheet', type: 'text/css', href: "{{ '/stylesheets/prism' | stylesheet_url }}" }
    %script{ type: 'text/javascript', src: "{{ '/javascripts/jquery.min' | javascript_url }}" }
    :javascript
      var basepath = "{{ '' | post_url }}";
    %title
      Wistia Documentation
    
  %body
    %header
      #header_container
        #logo
          %a{ href: '/' }
        #header_nav
          %ul
            %li
              %a{ href: '/pricing' } pricing
            %li 
              %a{ href: '/blog' } blog
            %li 
              %a{ href: '/login' } login
    #container
      #content
        {{ content }}


%script{ src: "{{ '/javascripts/prism' | javascript_url }}" }
%script{ src: "{{ '/javascripts/prism.ruby' | javascript_url }}" }
%script{ src: "{{ '/javascripts/prism.vim' | javascript_url }}" }
%script{ src: "{{ '/javascripts/search_text' | javascript_url }}" }
