\---
\---

!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en' }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => "text/html;charset=utf-8" }
    %link{ rel: 'stylesheet', type: 'text/css', href: "{{ '/stylesheets/screen' | stylesheet_url }}" }
    %link{ rel: 'stylesheet', type: 'text/css', href: "{{ '/stylesheets/prism' | stylesheet_url }}" }
    %script{ type: 'text/javascript', src: "{{ '/javascripts/jquery.min' | javascript_url }}" }
    {% if page.developers %}
    %script{ type: "text/javascript", src: "//use.typekit.net/pft0gev.js" } 
    %script{ type: "text/javascript" } try{Typekit.load();}catch(e){}
    {% endif %}

    :javascript
      var basepath = "{{ '' | post_url }}";

    %title
      {% if page.title == '' %} wDoc {% else %} wDoc: {{ page.title }} {% endif %}
    
  %body{ class: "{{ page.type }}_layout" }
    {% include header.html %}
    {% unless page.no_nav %}{% include doc_nav.html %}{% endunless %}

    #container{ class: "{% if page.api %}api{% endif %}{% if page.type == 'devhq'%}devhq{% endif %}" }
      {{ content }}

    {% include footer.html %}

    / scripts and such
    {% include addons_js.html %}
    {% if page.developers != true %}
    %script{ src: "{{ '/javascripts/d3.v2.min' | javascript_url }}" }
    %script{ src: "{{ '/javascripts/voronoi' | javascript_url }}" }
    {% endif %}
    %script{ src: "{{ '/javascripts/search_text' | javascript_url }}" }
    %script{ src: "{{ '/javascripts/simplex' | javascript_url }}" }
