!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en' }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => "text/html;charset=utf-8" }
    %link{ rel: 'stylesheet', type: 'text/css', href: '/stylesheets/screen.css' }
    %script{ type: 'text/javascript', src: '/javascripts/jquery.min.js' }
    %title
      Wistia Documentation
  %body
    %header.home
      %h1
        Wistia Documentation
    #container_home
      .search_bar
        %input#search_text{type: "text"}
        %button#search_button Search!
      #content
        %section
          {{ content }}

:javascript

  $(document).ready(function() {

    $('#search_button').on('click', function() {
      var query = $('#search_text').val().replace(/' '/, '_');
      window.location.replace("http://localhost:4000/search.html?query=" + query);
    });

  });
