!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en' }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => "text/html;charset=utf-8" }
    %link{ rel: 'stylesheet', type: 'text/css', href: "{{ '/stylesheets/screen' | stylesheet_url }}" }
    %script{ type: 'text/javascript', src: "{{ '/javascripts/jquery.min' | javascript_url }}" }
    %script{ src: "{{ '/javascripts/search_text' | javascript_url }}" }
    %title
      Wistia Documentation
    :javascript
      var basepath = "{{ '' | post_url }}";
  %body
    %header.home
      %h1
        Wistia Documentation
    #container_home
      .search_bar
        %input#search_text{type: "text", placeholder: "search the docs" }
        %button#search_button Search!
      #content
        %section
          {{ content }}

