!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en' }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => "text/html;charset=utf-8" }
    %link{ rel: 'stylesheet', type: 'text/css', href: '/stylesheets/screen.css' }
    %title
      Wistia Documentation
  %body
    %header.home
      %h1
        Wistia Documentation
    #container
      #search_bar{ style: 'text-align:center;' }
        .bar_part{ style:'width:80%;height:40px;margin:0 auto 40px;background-color:white;display:inline-block;border: 2px solid red;'}
        .label{ style:'width:5%;display:inline-block;text-align:left;vertical-align:top;margin-top:15px;' } Search!
      #content
        %section
          {{ content }}
