!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en' }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => "text/html;charset=utf-8" }
    %link{ rel: 'stylesheet', type: 'text/css', href: '/doc/stylesheets/screen.css' }
    %script{ type: 'text/javascript', src: '/doc/javascripts/jquery.min.js' }
    %script{ src: '/doc/javascripts/search_text.js' }
    %title
      Wistia Documentation
  %body
    %header.home
      %h1
        Wistia Documentation
    #container_home
      .search_bar
        %input#search_text{type: "text", placeholder: "search the docs" }
        %button#search_button Search!
      #content
        %section
          {{ content }}

