\---
layout: base
type: post
\---

.content_container
  #post_content_nav
    %ul#page_nav

  #post_container
    #post
      %a{ href: "#top", id: "top-link" } to the tippy &uarr;
      .post_title
        %h1 {{ page.title }}
      .post_content

        {% if page.api_warning %}{% include api_warning.html %}{% endif %}

        {% if page.post_intro %}
        .post_intro
          {{ page.post_intro }}
        {% endif %}
        {{ content }}
      {% if page.api != true %}
      .post_footer
        {% case page.footer %} {% when 'for_intermediates' %} {% include for_intermediates.html %} {% else %} {% include for_beginners.html %} {% endcase %}
      {% endif %}

%script{ src: "{{ '/javascripts/jquery.scrollTo' | javascript_url }}" }
%script{ src: "{{ '/javascripts/jquery.nav' | javascript_url }}" }


{% if page.api == true %}
{% include toplink.html %}
:javascript
  var api = true;
{% else %}
:javascript
  var api = false;
{% endif %} 
{% if page.temper == true %}{% include temper_feedback_widget.html %}{% endif %}
{% include post_js.html %}

:javascript
  var keepFixed = false;

  $(function() {
    var windowHeight = $(window).height();
    var postContentNavHeight = $('#page_nav').outerHeight();
    if (windowHeight < postContentNavHeight) {
      keepFixed = true;
    }
  });

  $(window).scroll(function(){
    var scroll = $(document).scrollTop();
    var docHeight = $(document).height();
    var navHeight = $('#page_nav').height();
    var footerHeight = 286;
    var bottomPadding = 55;
    var yPosition = scroll + navHeight;
    var pageHeight = docHeight - footerHeight - bottomPadding - 25;

    if (!keepFixed) {
      if (scroll >= 250 && yPosition < pageHeight) {
        $('#page_nav').addClass('fixedPosition');
        $('#page_nav').removeClass('bottomPadding');
      } else if (yPosition >= pageHeight){
        $('#page_nav').removeClass('fixedPosition');
        $('#page_nav').addClass('bottomPadding');
      } else {
        $('#page_nav').removeClass('fixedPosition');
        $('#page_nav').removeClass('bottomPadding');
      };
    };
  });
