\---
layout: base
type: post
\---

.content_container
  #post_content_nav
    %ul#page_nav

  #post_container
    #post
      %a{ href: "#top", id: "top-link" } to the tippy &uarr;
      .post_title
        %h1 {{ page.title }}
      .post_content
        {% if page.post_intro %}
        .post_intro
          {{ page.post_intro }}
        {% endif %}
        {{ content }}
      {% if page.api != true %}
      .post_footer
        {% case page.footer %} {% when 'for_developers' %} {% include for_developers.html %} {% when 'for_intermediates' %} {% include for_intermediates.html %} {% else %} {% include for_beginners.html %} {% endcase %}
      {% endif %}

%script{ src: "{{ '/javascripts/jquery.scrollTo' | javascript_url }}" }
%script{ src: "{{ '/javascripts/jquery.nav' | javascript_url }}" }


{% if page.api == true %}
{% include toplink.html %}
:javascript
  var api = true;
{% else %}
:javascript
  var api = false;
{% endif %} 
{% include post_js.html %}

:javascript

  $(window).scroll(function(){
    var scroll = $(document).scrollTop();
    var docHeight = $(document).height();
    var navHeight = $('#page_nav').height();
    var footerHeight = 286;
    var bottomPadding = 55;
    var yPosition = scroll + navHeight;
    var pageHeight = docHeight - footerHeight - bottomPadding - 25;

    if(scroll >= 250 && yPosition < pageHeight){
      $('#post_content_nav').addClass('fixedPosition');
      $('#post_content_nav').removeClass('bottomPadding');
      console.log("position is " + scroll);
    } else if(yPosition >= pageHeight){
      $('#post_content_nav').removeClass('fixedPosition');
      $('#post_content_nav').addClass('bottomPadding');
      console.log("y position is " + yPosition + " and page height is " + pageHeight);
    } else {
      $('#post_content_nav').removeClass('fixedPosition');
      $('#post_content_nav').removeClass('bottomPadding');
      console.log("position is " + scroll);
    };
  });
