\---
layout: base
\---

#doc_nav
  {% include doc_nav.html %}
#post
  .post_title
    %h1 {{ page.title }}
  .post_content
    {% if page.post_intro %}
    .post_intro
      {{ page.post_intro }}
    {% endif %}
    {{ content }}
  .post_footer 
    {% if page.for_developers == true %}{% include for_developers.html %}{% else %}{% include for_beginners.html %}{% endif %}
      

%script{ src:'/javascripts/post_content_nav.js', type:'text/javascript' }
%script{ src: "/javascripts/jquery.scrollTo.js" }
%script{ src: "/javascripts/jquery.nav.js" }

:javascript

  $(document).ready(function() {
    function fixFloatedImages() {
      $(".post_image.float_right").each(function() {
        var $img = $(this),
          $p = $img.next('p'),
          $prev_elem = $img.prev();

        function heightFinder(elem) {
          var height = elem.outerHeight(true);
          if (elem.nextUntil(":not(p, ul)").length) {
            elem.nextUntil(":not(p, ul, a, span)").each( function() { 
              height += $(this).outerHeight(true);
            });
          }
          return height;
        }

        function offsetFinder() {
          if ($p.length) {
            var totalHeight = heightFinder($p);
            var offset_diff = Math.round(($img.outerHeight(true) - totalHeight) / 2);
            if (offset_diff > 0 ) {
              $p.css("top", offset_diff) && $p.nextUntil(":not(p, ul, a, span)").each ( function() {
                $(this).css('top', offset_diff);
              });
            }
            else {
              //$img.css("top", offset_diff );
            }
          }
        }
        offsetFinder();
        $img.find('img').load(function() {
          offsetFinder();
        });
      });
    }
    
    fixFloatedImages();
    $(window).resize(fixFloatedImages());

  });
