\---
layout: base
\---

.video_wrapper
  #local-header-container
    #local-header.cf
      .doc_nav
        {% include doc_nav.html %}


  #video-container
    #video.cf

      <div id="wistia_{{ page.video_hashed_id }}" class="wistia_embed" style="width:960px;height:540px;" data-video-width="960" data-video-height="540">&nbsp;</div>
      <script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1.js"></script>
      <script>
      wistiaEmbed = Wistia.embed("{{ page.video_hashed_id }}", {
      version: "v1",
      videoWidth: 960,
      videoHeight: 540,
      playerColor: "81b7db",
      videoFoam: true
      });
      </script>

  .video-info-container
    .video-info.cf
      %h2.title
        {{ page.title }}
      .description
        {{ page.post_intro }}

  .video-info-container
    .video-info.cf
      %h2.title Show Notes

      .description
        {{ content }}

:javascript
  $('.chapter_link').on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({
      scrollTop: $('#video-container').offset().top
    }, 500);
  }); 

:javascript
  var url = window.location.href.toString();
  var playInterval;
  if (url.indexOf('hf') != -1 || url.indexOf('hm') != -1)
  {
    playInterval = setInterval(autoPlay, 100);
  }
  function autoPlay()
  {
    try{
      wistiaEmbed.play();
      clearInterval(playInterval);
    } catch (e) {}
  }
