
// clicky
{% include clicky.html %}

// prism
%script{ src: "{{ '/javascripts/prism' | javascript_url }}" }
%script{ src: "{{ '/javascripts/prism.extensions' | javascript_url }}" }

// background-y
%script{ src: "{{ '/javascripts/d3.v2.min' | javascript_url }}" }
%script{ src: "{{ '/javascripts/voronoi' | javascript_url }}" }
