
// clicky
{% include clicky.html %}
// google analytics
{% include google_analytics.html %}

// prism
%script{ src: "{{ '/javascripts/prism' | javascript_url }}" }
%script{ src: "{{ '/javascripts/prism.extensions' | javascript_url }}" }
