.warning.dev
  %p.top-line
    Warning: You are heading into developer territory!
  %p
    Our APIs are designed for programmers. If our APIs were a ski trail, they'd
    be a nice blue cruiser - anyone can do it, but expect to fall a few times
    if you don't know what you're doing!
  %p
    If you're new to web development, we recommend taking a lesson before you
    hit our slopes. Check out
    %a{ href: 'https://www.skillshare.com/classes/technology/Build-a-Website-with-HTML-CSS-and-Javascript/1777096685?via=browse-popular-javascript-layout-grid', target: '_blank' }
      this class
    from Skillshare!