#doc_nav_container
  %ul
    %li
      %a{ href: '/account-management.html' } Account Management
    %li
      %a{ href: '/organization.html' } Projects &amp; Media
    %li
      %a{ href: '/analytics.html' } Analytics
    %li
      %a{ href: '/public-sharing.html' } Sharing &amp; Embedding
