#doc_nav
  #doc_nav_container
    %ul
      {% if page.type != 'post' %}
      %li#breadcrumbs
        %a{ href: WistiaDoc.web_app_url() } Doc Main
        %span.breadcrumb_post_title
          &gt;
          {% case page.type %}{% when 'category' %}{{ page.category }}{% when 'search' %} Search {% endcase %}
      {% else %}
      %li#breadcrumbs
        {% if page.category %}
        %a{ href: WistiaDoc.web_app_url() + "/categories/{{ page.category | downcase | replace: ' ', '_' }}.html" } {{ page.category }}
        {% else %}
        %a{ href: WistiaDoc.web_app_url() } Doc Main
        {% endif %}
        %span.breadcrumb_post_title
          &gt;
          {{ page.title }}
      {% endif %}
      %li#nav_search_box
        .search_bar.nav_bar
          %input#search_text.nav_bar{ type: "text", placeholder: "search our docs" }
          %button#search_button search
