#doc_nav_container
  %ul
    %li
      %a{ href: '/account_management' } Account Management
    %li
      %a{ href: '/organization' } Projects & Media
    %li
      %a{ href: '/analytics' } Analytics
    %li
      %a{ href: '/public_sharing' } Public Sharing & Embedding
    %li
      %a{ href: '/private_sharing' } Private Sharing
