.doc_nav_container
  .content_container.nav
    .doc_nav
      %ul
        {% if page.type != 'post' %}
        %li#breadcrumbs
          %a{ style: 'padding-left: 0;', href: "{{ '/' | post_url }}" } Documentation
          %span.breadcrumb_post_title
            %img{ src: "{{ '/images/greaterThan.png' | image_url }}" }
            {% if page.type %}
            {% case page.type %}{% when 'category' %}{{ page.category }}{% when 'search' %} Search {% endcase %}
            {% else %}
            {{ page.title }}
            {% endif %}

        {% else %}
        %li#breadcrumbs

          {% if page.category && page.category != 'no_index' %}
          %a{ href: "{{ '/' | post_url }}" } Documentation
          %span.breadcrumb_post_title
            %img{ src: "{{ '/images/greaterThan.png' | image_url }}" }
            {% if page.special_category_link %}
            {% case page.special_category_link %}
            {% when "developers" %}
            %a{ href: "{{ '/developers' | post_url }}" } Developers
            {% when "Wistia Basics" %}
            %a{ href: "{{ '/wistia-basics' | post_url }}" } Wistia Basics
            {% endcase %}
            {% else %}
            %a{ href: "{{ page.category | category_url }}" } {{ page.category }}
            {% endif %}

          {% else %}
          %a{ href: "{{ '/' | post_url }}" } Documentation
          {% endif %}
          %span.breadcrumb_post_title
            %img{ src: "{{ '/images/greaterThan.png' | image_url }}" }
            {{ page.title }}

        {% endif %}
        %li#search.doc_nav_search
          %input#searchField.example{ type: "search", placeholder: "Search our docs" }
          %button#search_button
