#doc_nav
  #doc_nav_container
    %ul
      {% if page.type != 'post' %}
      %li#breadcrumbs
        %a{ style: 'padding-left: 0;', href: "{{ '/' | post_url }}" }
          %i.icon-home.icon-large
        %span.breadcrumb_post_title
          &gt;
          {% case page.type %}{% when 'category' %}{{ page.category }}{% when 'search' %} Search {% endcase %}
      {% else %}
      %li#breadcrumbs
        {% if page.category %}
        %a{ href: "{{ '/' | post_url }}" }
          %i.icon-home.icon-large
        %span.breadcrumb_post_title
          &gt;
        %a{ href: "{{ page.category | category_url }}" } {{ page.category }}
        {% else %}
        %a{ href: "{{ '/' | post_url }}" }
          %i.icon-home.icon-large
        {% endif %}
        %span.breadcrumb_post_title
          &gt;
          {{ page.title }}
      {% endif %}
      %li#nav_search_box
        .search_bar.nav_bar
          %input#search_text.nav_bar{ type: "text", placeholder: "Search our docs" }
          %button#search_button Search
