#doc_nav
  #doc_nav_container
    %ul
      {% if page.type != 'post' %}
      %li#breadcrumbs
        %a{ href: 'http://localhost:4000' } Doc Main
        %span.breadcrumb_post_title
          &gt;
          {% case page.type %}{% when 'category' %}{{ page.category }}{% when 'search' %} Search {% endcase %}
      {% else %}
      %li#breadcrumbs
        %a{ href: "http://localhost:4000/categories/{{ page.category | downcase | replace: ' ', '_' }}.html" } {{ page.category }}
        %span.breadcrumb_post_title
          &gt;
          {{ page.title }}
      {% endif %}
      %li#nav_search_box
        .search_bar.nav_bar
          %input#search_text.nav_bar{ type: "text", placeholder: "search our docs" }
          %button#search_button search
