%ul.footer_content.for_intermediates
  %li
    %p
      %b Wistia Video SEO
    %p
      Use Wistia to get better traffic from search engines.
    %p
      %a{ href: "{{ '/video-seo' | post_url }}", target: '_blank' } Video SEO Guide
  %li
    %p
      %b Private Sharing in Wistia
    %p
      Use contacts and contact groups to share videos privately, and track how they watch.
    %p
      %a{ href: "{{ '/private-sharing' | post_url }}", target: '_blank' } Private Sharing guide
