%ul.footer_content.for_beginners
  %li
    %b New to Wistia?
    %br
    Get started the right way with videos designed for you. 
    Check out 
    %a{ href: "{{ '/randor' | post_url }}", target: '_blank' } Randor video guides
    right now!
  %li
    %b Get Your Account Set Up Right
    %br
    Head to 
    %a{ href: "{{ '/account-setup' | post_url }}", target: '_blank' } Account Setup to learn more.
