%ul.footer_content.for_beginners
  %li
    %b New to Wistia?
    %br
    Get started the right way with videos designed for you. 
    Check out 
    %a{ href: '/randor' } Randor video guides
    right now!
  %li
    %b No Video Yet?
    %br
    Read up on creating video on our blog.
