%ul.footer_content.for_intermediates
  %li
    %b Wistia Video SEO
    %br
    Use Wistia to get better traffic from search engines.
    %br
    %a{ href: "{{ 'video-seo' | post_link_url }}", target: '_blank' } Get started now!
  %li
    %b Private Sharing in Wistia
    %br
    Use contacts and contact groups to share videos privately, and track how they watch.
    %br
    %a{ href: "{{ 'private-sharing' | post_link_url }}", target: '_blank' } Private Sharing guide
