%ul.footer_content.for_beginners
  %li
    %h4 New to Wistia?
    %p
      Get started the right way with videos designed for you. 
    %p
      %a{ href: "{{ '/wistia-basics' | post_url }}", target: '_blank' } 
        Getting Started video guides
  %li
    %h4 Get Your Account Set Up Right
    %p
      Customize your logo, account URL, and more.
      Head to the Account Setup doc page for more!
    %p
      %a{ href: "{{ '/account-setup' | post_url }}", target: '_blank' } 
        Account Setup
