#header_container
  #logo
    %a{ href: '/' }
  #header_nav
    %ul
      %li
        %a{ href: '/pricing' } pricing
      %li 
        %a{ href: '/blog' } blog
      %li 
        %a{ href: '/login' } login
