%ul
  %li
    %a{ href: 'start.html' } Quickstart Guide
  %li
    %a{ href: 'uploading-and-transcoding.html' } Uploading
  %li
    %a{ href: 'sharing.html' } Sharing Video
  %li
    %a{ href: 'tracking_and_alerts.html' } Tracking & Alerts
  %li
    %a{ href: 'managing_projects_media_and_contacts#projects.html' } Projects
  %li
    %a{ href: 'managing_projects_media_and_contacts#contacts.html' } Contacts
  %li
    %a{ href: 'account_management.html' } Account Management
  %li
    %a{ href: 'data-api.html' } API
