-# note: the Hash Change JQuery plugin is required for swiftype.search.js
%script{ type: 'text/javascript', src: "{{ '/javascripts/jquery.ba-hashchange.min' | javascript_url }}" }
%script{ type: 'text/javascript', src: "{{ '/javascripts/jquery.swiftype.search' | javascript_url }}" }
%script{ type: 'text/javascript', src: "{{ '/javascripts/jquery.swiftype.autocomplete' | javascript_url }}" }
%link{ rel: 'stylesheet', type: 'text/css', href: '/doc/stylesheets/swiftype-autocomplete.css' }
