-# Swiftype Installer
-# (https://swiftype.com/engines/wistia-docs/install_flow/start)
-# This method injects code into the application to enable search and (optionally) the Auto-Complete drop down list.
-# Customizations can be done on the Swiftype website without any need to change the code.

:javascript
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
  _st('install','oN7bUy-pbTePRQzSFem7','2.0.0');
