/* line 1, ../_sass/default.scss */
.hll {
  background-color: #ffffcc;
}

/* line 2, ../_sass/default.scss */
.c {
  color: #408080;
  font-style: italic;
}

/* Comment */
/* line 3, ../_sass/default.scss */
.err {
  border: 1px solid #FF0000;
}

/* Error */
/* line 4, ../_sass/default.scss */
.k {
  color: #008000;
  font-weight: bold;
}

/* Keyword */
/* line 5, ../_sass/default.scss */
.o {
  color: #666666;
}

/* Operator */
/* line 6, ../_sass/default.scss */
.cm {
  color: #408080;
  font-style: italic;
}

/* Comment.Multiline */
/* line 7, ../_sass/default.scss */
.cp {
  color: #BC7A00;
}

/* Comment.Preproc */
/* line 8, ../_sass/default.scss */
.c1 {
  color: #408080;
  font-style: italic;
}

/* Comment.Single */
/* line 9, ../_sass/default.scss */
.cs {
  color: #408080;
  font-style: italic;
}

/* Comment.Special */
/* line 10, ../_sass/default.scss */
.gd {
  color: #A00000;
}

/* Generic.Deleted */
/* line 11, ../_sass/default.scss */
.ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 12, ../_sass/default.scss */
.gr {
  color: #FF0000;
}

/* Generic.Error */
/* line 13, ../_sass/default.scss */
.gh {
  color: #000080;
  font-weight: bold;
}

/* Generic.Heading */
/* line 14, ../_sass/default.scss */
.gi {
  color: #00A000;
}

/* Generic.Inserted */
/* line 15, ../_sass/default.scss */
.go {
  color: #808080;
}

/* Generic.Output */
/* line 16, ../_sass/default.scss */
.gp {
  color: #000080;
  font-weight: bold;
}

/* Generic.Prompt */
/* line 17, ../_sass/default.scss */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 18, ../_sass/default.scss */
.gu {
  color: #800080;
  font-weight: bold;
}

/* Generic.Subheading */
/* line 19, ../_sass/default.scss */
.gt {
  color: #0040D0;
}

/* Generic.Traceback */
/* line 20, ../_sass/default.scss */
.kc {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Constant */
/* line 21, ../_sass/default.scss */
.kd {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 22, ../_sass/default.scss */
.kn {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 23, ../_sass/default.scss */
.kp {
  color: #008000;
}

/* Keyword.Pseudo */
/* line 24, ../_sass/default.scss */
.kr {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 25, ../_sass/default.scss */
.kt {
  color: #B00040;
}

/* Keyword.Type */
/* line 26, ../_sass/default.scss */
.m {
  color: #666666;
}

/* Literal.Number */
/* line 27, ../_sass/default.scss */
.s {
  color: #BA2121;
}

/* Literal.String */
/* line 28, ../_sass/default.scss */
.na {
  color: #7D9029;
}

/* Name.Attribute */
/* line 29, ../_sass/default.scss */
.nb {
  color: #008000;
}

/* Name.Builtin */
/* line 30, ../_sass/default.scss */
.nc {
  color: #0000FF;
  font-weight: bold;
}

/* Name.Class */
/* line 31, ../_sass/default.scss */
.no {
  color: #880000;
}

/* Name.Constant */
/* line 32, ../_sass/default.scss */
.nd {
  color: #AA22FF;
}

/* Name.Decorator */
/* line 33, ../_sass/default.scss */
.ni {
  color: #999999;
  font-weight: bold;
}

/* Name.Entity */
/* line 34, ../_sass/default.scss */
.ne {
  color: #D2413A;
  font-weight: bold;
}

/* Name.Exception */
/* line 35, ../_sass/default.scss */
.nf {
  color: #0000FF;
}

/* Name.Function */
/* line 36, ../_sass/default.scss */
.nl {
  color: #A0A000;
}

/* Name.Label */
/* line 37, ../_sass/default.scss */
.nn {
  color: #0000FF;
  font-weight: bold;
}

/* Name.Namespace */
/* line 38, ../_sass/default.scss */
.nt {
  color: #008000;
  font-weight: bold;
}

/* Name.Tag */
/* line 39, ../_sass/default.scss */
.nv {
  color: #19177C;
}

/* Name.Variable */
/* line 40, ../_sass/default.scss */
.ow {
  color: #AA22FF;
  font-weight: bold;
}

/* Operator.Word */
/* line 41, ../_sass/default.scss */
.w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 42, ../_sass/default.scss */
.mf {
  color: #666666;
}

/* Literal.Number.Float */
/* line 43, ../_sass/default.scss */
.mh {
  color: #666666;
}

/* Literal.Number.Hex */
/* line 44, ../_sass/default.scss */
.mi {
  color: #666666;
}

/* Literal.Number.Integer */
/* line 45, ../_sass/default.scss */
.mo {
  color: #666666;
}

/* Literal.Number.Oct */
/* line 46, ../_sass/default.scss */
.sb {
  color: #BA2121;
}

/* Literal.String.Backtick */
/* line 47, ../_sass/default.scss */
.sc {
  color: #BA2121;
}

/* Literal.String.Char */
/* line 48, ../_sass/default.scss */
.sd {
  color: #BA2121;
  font-style: italic;
}

/* Literal.String.Doc */
/* line 49, ../_sass/default.scss */
.s2 {
  color: #BA2121;
}

/* Literal.String.Double */
/* line 50, ../_sass/default.scss */
.se {
  color: #BB6622;
  font-weight: bold;
}

/* Literal.String.Escape */
/* line 51, ../_sass/default.scss */
.sh {
  color: #BA2121;
}

/* Literal.String.Heredoc */
/* line 52, ../_sass/default.scss */
.si {
  color: #BB6688;
  font-weight: bold;
}

/* Literal.String.Interpol */
/* line 53, ../_sass/default.scss */
.sx {
  color: #008000;
}

/* Literal.String.Other */
/* line 54, ../_sass/default.scss */
.sr {
  color: #BB6688;
}

/* Literal.String.Regex */
/* line 55, ../_sass/default.scss */
.s1 {
  color: #BA2121;
}

/* Literal.String.Single */
/* line 56, ../_sass/default.scss */
.ss {
  color: #19177C;
}

/* Literal.String.Symbol */
/* line 57, ../_sass/default.scss */
.bp {
  color: #008000;
}

/* Name.Builtin.Pseudo */
/* line 58, ../_sass/default.scss */
.vc {
  color: #19177C;
}

/* Name.Variable.Class */
/* line 59, ../_sass/default.scss */
.vg {
  color: #19177C;
}

/* Name.Variable.Global */
/* line 60, ../_sass/default.scss */
.vi {
  color: #19177C;
}

/* Name.Variable.Instance */
/* line 61, ../_sass/default.scss */
.il {
  color: #666666;
}

/* Literal.Number.Integer.Long */
