table { border: 1px solid rgba(62, 169, 245, 0.2); }
table span.category { font-weight: bold; white-space: nowrap; }
table th { white-space: nowrap; font-weight: bold; }
table td { padding: 10px 20px; background: none; border-bottom: 1px solid rgba(62, 169, 245, 0.2); }
table thead th { padding: 20px; }
table td:not(:first-child) { text-align: center; }
