/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 20, ../_sass/screen.sass */
body {
  font-family: Gill Sans Infant, Arial, sans-serif;
  background-color: #f7f6f4;
  color: #616770;
}
/* line 24, ../_sass/screen.sass */
body a {
  color: #81c2f0;
  text-decoration: none;
}

/* line 28, ../_sass/screen.sass */
h1, h2, h3 {
  color: #2f353e;
}

/* line 31, ../_sass/screen.sass */
h1 {
  font-size: 40px;
}

/* line 34, ../_sass/screen.sass */
p {
  font-size: 16px;
  line-height: 115%;
}

/* line 38, ../_sass/screen.sass */
strong {
  font-weight: bold;
}

/* line 44, ../_sass/screen.sass */
header {
  width: 100%;
  background-color: #f7f6f4;
  position: relative;
  height: 40px;
  border-bottom: 2px solid #d9d8d6;
}
/* line 50, ../_sass/screen.sass */
header #header_container {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  position: relative;
}
/* line 55, ../_sass/screen.sass */
header #header_container #logo {
  left: 0;
}
/* line 57, ../_sass/screen.sass */
header #header_container #logo a {
  position: absolute;
  background: transparent url(/images/wistia_logo_header.png) no-repeat;
  width: 115px;
  height: 40px;
}
/* line 62, ../_sass/screen.sass */
header #header_container #logo a:hover {
  background-position-y: -40px;
}
/* line 64, ../_sass/screen.sass */
header #header_container #header_nav {
  position: absolute;
  right: 17px;
}
/* line 67, ../_sass/screen.sass */
header #header_container #header_nav ul {
  height: 40px;
}
/* line 69, ../_sass/screen.sass */
header #header_container #header_nav ul li {
  display: inline-block;
  position: relative;
}
/* line 73, ../_sass/screen.sass */
header #header_container #header_nav ul li:last-child a {
  padding-right: 0;
}
/* line 75, ../_sass/screen.sass */
header #header_container #header_nav li a {
  display: block;
  padding: 10px 25px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #8c8c8c;
  text-shadow: 0 0 2px white;
  outline: none;
}
/* line 84, ../_sass/screen.sass */
header #header_container #header_nav li a:hover {
  color: #444444;
}

/* line 87, ../_sass/screen.sass */
.home {
  text-align: center;
  margin: 100px auto 0;
}

/* line 91, ../_sass/screen.sass */
#container {
  width: 1050px;
  margin: 25px auto;
}

/* line 95, ../_sass/screen.sass */
section {
  display: inline-block;
  width: 900px;
}

/* line 99, ../_sass/screen.sass */
#content {
  width: 900px;
  display: inline-block;
}

/* line 103, ../_sass/screen.sass */
.category_title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #8dc63f;
  text-decoration: underline;
}

/* line 109, ../_sass/screen.sass */
.col {
  width: 25%;
  float: left;
  margin-left: 40px;
}
/* line 113, ../_sass/screen.sass */
.col:first-child {
  margin-left: 0;
}
/* line 115, ../_sass/screen.sass */
.col a {
  color: #999999;
  text-decoration: none;
}

/* line 122, ../_sass/screen.sass */
#doc_nav {
  background-color: #f0af81;
  width: 900px;
}
/* line 125, ../_sass/screen.sass */
#doc_nav #doc_nav_container {
  margin: 0 auto;
  position: relative;
}
/* line 128, ../_sass/screen.sass */
#doc_nav #doc_nav_container ul {
  padding: 0;
  margin: 0;
}
/* line 131, ../_sass/screen.sass */
#doc_nav #doc_nav_container ul li {
  display: inline-block;
  height: 40px;
  margin: 0 10px;
}
/* line 135, ../_sass/screen.sass */
#doc_nav #doc_nav_container ul li a {
  position: relative;
  padding: 10px;
  top: 9px;
  height: 40px;
  color: white;
}

/* line 144, ../_sass/screen.sass */
#post {
  display: inline-block;
  width: 860px;
  padding: 20px;
  background-color: white;
  clear: both;
}

/* line 151, ../_sass/screen.sass */
.post_title {
  margin-bottom: 20px;
  border-bottom: 2px solid gray;
}
/* line 154, ../_sass/screen.sass */
.post_title h1 {
  margin-bottom: 20px;
  padding-left: 10px;
}

/* line 161, ../_sass/screen.sass */
.post_content {
  width: 750px;
  margin: 0 auto;
}
/* line 164, ../_sass/screen.sass */
.post_content hr {
  margin: 100px 0;
}
/* line 166, ../_sass/screen.sass */
.post_content h2 {
  font-size: 28px;
  margin: 100px 0 30px;
}
/* line 169, ../_sass/screen.sass */
.post_content h2:first-of-type {
  margin-top: 40px;
}
/* line 171, ../_sass/screen.sass */
.post_content h3 {
  font-size: 20px;
  margin: 20px 0;
}
/* line 174, ../_sass/screen.sass */
.post_content p {
  width: 700px;
  margin: 20px auto;
  line-height: 140%;
}
/* line 178, ../_sass/screen.sass */
.post_content ul {
  list-style-type: disc;
  line-height: 150%;
  padding-left: 30px;
}
/* line 182, ../_sass/screen.sass */
.post_content hr {
  margin: 100px 0;
  clear: both;
}
/* line 185, ../_sass/screen.sass */
.post_content hr:last-child {
  margin: 40px 0;
}

/* line 190, ../_sass/screen.sass */
.post_intro {
  margin-left: -55px;
  margin-top: 20px;
}
/* line 193, ../_sass/screen.sass */
.post_intro p, .post_intro ul {
  margin: 0;
  padding: 10px;
  background-color: #eaeaea;
  font-size: 20px;
  width: 840px;
  line-height: 150%;
}
/* line 200, ../_sass/screen.sass */
.post_intro ul {
  padding: 0;
  padding-left: 20px;
}
/* line 203, ../_sass/screen.sass */
.post_intro ul li {
  list-style-position: inside;
  font-size: 16px;
}

/* line 209, ../_sass/screen.sass */
.post_image {
  margin: 30px auto;
  clear: both;
}

/* line 212, ../_sass/screen.sass */
.center {
  text-align: center;
}

/* line 214, ../_sass/screen.sass */
.float_right {
  float: right;
  margin: 10px;
}

/* line 220, ../_sass/screen.sass */
.video_embed {
  text-align: center;
  margin: 30px auto;
}
/* line 223, ../_sass/screen.sass */
.video_embed iframe {
  border: 2px solid dimGray;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}

/* line 229, ../_sass/screen.sass */
.github, .code {
  margin-left: 20px;
}

/* line 232, ../_sass/screen.sass */
.github {
  width: 680px;
  font-size: 13px;
  line-height: 150%;
}

/* line 237, ../_sass/screen.sass */
.code {
  background-color: #eaeaea;
  width: 665px;
  padding: 6px;
  font-family: monospace;
  border: 1px solid #d6d6d6;
}
/* line 243, ../_sass/screen.sass */
.code:hover {
  background-color: #d6d6d6;
}

/* line 246, ../_sass/screen.sass */
span.code {
  margin: 0;
  padding: 2px;
}

/* line 252, ../_sass/screen.sass */
.post_footer {
  width: 750px;
  margin: 0 auto;
  padding: 25px;
}
/* line 256, ../_sass/screen.sass */
.post_footer ul {
  list-style-type: none;
}
/* line 258, ../_sass/screen.sass */
.post_footer ul li {
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
  width: 250px;
  font-size: 14px;
}

/* line 264, ../_sass/screen.sass */
.footer_content {
  padding: 25px;
}

/* line 266, ../_sass/screen.sass */
.for_developers {
  background-color: rgba(240, 129, 139, 0.2);
  border: 2px solid rgba(240, 129, 139, 0.8);
}

/* line 269, ../_sass/screen.sass */
.for_beginners {
  background-color: rgba(129, 194, 240, 0.2);
  border: 2px solid #81c2f0;
}

/* line 275, ../_sass/screen.sass */
#right_col {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-top: 40px;
  height: 100%;
  padding: 15px;
  position: fixed;
}
/* line 283, ../_sass/screen.sass */
#right_col ul {
  background-color: white;
}
/* line 285, ../_sass/screen.sass */
#right_col ul li:first-of-type {
  background-color: #f0af81;
  text-align: center;
}
/* line 288, ../_sass/screen.sass */
#right_col ul li:first-of-type a {
  font-size: 18px;
  color: white;
}
/* line 291, ../_sass/screen.sass */
#right_col li {
  padding: 5px;
  margin-bottom: 10px;
}
/* line 294, ../_sass/screen.sass */
#right_col li a {
  color: #2f353e;
  font-size: 13px;
  text-decoration: none;
}
/* line 298, ../_sass/screen.sass */
#right_col .current > a {
  color: #81c2f0;
}

/* line 301, ../_sass/screen.sass */
.clear {
  clear: both;
}
