/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 25, ../_sass/screen.sass */
body {
  font-family: Gill Sans Infant, Arial, sans-serif;
  background-color: #f7f6f4;
  color: #6b6760;
}
/* line 29, ../_sass/screen.sass */
body a {
  color: #4991c4;
  text-decoration: none;
}

/* line 33, ../_sass/screen.sass */
h1, h2, h3 {
  color: #333333;
}

/* line 35, ../_sass/screen.sass */
h1 {
  font-size: 32px;
}

/* line 37, ../_sass/screen.sass */
p {
  font-size: 16px;
  line-height: 115%;
}

/* line 40, ../_sass/screen.sass */
strong {
  font-weight: bold;
  color: #333333;
}

/* line 47, ../_sass/screen.sass */
header {
  width: 100%;
  background-color: #f7f6f4;
  position: relative;
  height: 40px;
  border-bottom: 2px solid #d9d8d6;
}
/* line 53, ../_sass/screen.sass */
header #header_container {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  position: relative;
}
/* line 58, ../_sass/screen.sass */
header #header_container #logo {
  left: 0;
}
/* line 60, ../_sass/screen.sass */
header #header_container #logo a {
  position: absolute;
  background: transparent url(/images/wistia_logo_header.png) no-repeat;
  width: 115px;
  height: 40px;
}
/* line 65, ../_sass/screen.sass */
header #header_container #logo a:hover {
  background-position-y: -40px;
}
/* line 67, ../_sass/screen.sass */
header #header_container #header_nav {
  position: absolute;
  right: 17px;
}
/* line 70, ../_sass/screen.sass */
header #header_container #header_nav ul {
  height: 40px;
}
/* line 72, ../_sass/screen.sass */
header #header_container #header_nav ul li {
  display: inline-block;
  position: relative;
}
/* line 76, ../_sass/screen.sass */
header #header_container #header_nav ul li:last-child a {
  padding-right: 0;
}
/* line 78, ../_sass/screen.sass */
header #header_container #header_nav li a {
  display: block;
  padding: 10px 25px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #8c8c8c;
  text-shadow: 0 0 2px white;
  outline: none;
}
/* line 87, ../_sass/screen.sass */
header #header_container #header_nav li a:hover {
  color: #444444;
}

/* line 92, ../_sass/screen.sass */
.home {
  text-align: center;
  margin: 100px auto 0;
}

/* line 96, ../_sass/screen.sass */
#container {
  width: 980px;
  margin: 40px auto;
}

/* line 100, ../_sass/screen.sass */
#content {
  display: inline-block;
}

/* line 105, ../_sass/screen.sass */
section {
  display: inline-block;
  width: 900px;
}

/* line 109, ../_sass/screen.sass */
.category_title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #8dc63f;
  text-decoration: underline;
}

/* line 115, ../_sass/screen.sass */
.col {
  width: 25%;
  float: left;
  margin-left: 40px;
}
/* line 119, ../_sass/screen.sass */
.col:first-child {
  margin-left: 0;
}
/* line 121, ../_sass/screen.sass */
.col a {
  color: #999999;
  text-decoration: none;
}

/* line 127, ../_sass/screen.sass */
#doc_nav {
  background-color: #f0af81;
  width: 720px;
}
/* line 130, ../_sass/screen.sass */
#doc_nav #doc_nav_container {
  margin: 0 auto;
  position: relative;
}
/* line 133, ../_sass/screen.sass */
#doc_nav #doc_nav_container ul {
  padding: 0;
  margin: 0;
}
/* line 136, ../_sass/screen.sass */
#doc_nav #doc_nav_container ul li {
  display: inline-block;
  height: 45px;
  margin-left: 30px;
}
/* line 140, ../_sass/screen.sass */
#doc_nav #doc_nav_container ul li a {
  position: relative;
  padding: 14px 5px;
  top: 14px;
  height: 40px;
  color: white;
}

/* line 149, ../_sass/screen.sass */
#post {
  display: inline-block;
  width: 660px;
  padding: 30px;
  background-color: white;
  clear: both;
}

/* line 156, ../_sass/screen.sass */
.post_title {
  margin-bottom: 30px;
}

/* line 161, ../_sass/screen.sass */
.post_content {
  width: 660px;
}
/* line 163, ../_sass/screen.sass */
.post_content h2, .post_content hr {
  margin: 30px 0;
  clear: both;
}
/* line 166, ../_sass/screen.sass */
.post_content h2, .post_content h3 {
  line-height: 120%;
}
/* line 168, ../_sass/screen.sass */
.post_content h2 {
  font-size: 24px;
}
/* line 170, ../_sass/screen.sass */
.post_content h3, .post_content p, .post_content ul, .post_content ol {
  margin: 15px 0;
}
/* line 172, ../_sass/screen.sass */
.post_content h3 {
  font-size: 18px;
  clear: both;
}
/* line 175, ../_sass/screen.sass */
.post_content p {
  line-height: 150%;
  position: relative;
}
/* line 178, ../_sass/screen.sass */
.post_content ul, .post_content ol {
  padding-left: 30px;
  line-height: 150%;
}
/* line 181, ../_sass/screen.sass */
.post_content ul {
  list-style-type: disc;
}
/* line 183, ../_sass/screen.sass */
.post_content ol {
  list-style: decimal;
}
/* line 185, ../_sass/screen.sass */
.post_content ol li {
  margin-top: 15px;
}

/* line 190, ../_sass/screen.sass */
.post_intro {
  margin-left: -30px;
  margin-bottom: 30px;
  background-color: #f7f6f4;
  padding: 30px;
}
/* line 196, ../_sass/screen.sass */
.post_intro h2:first-of-type {
  margin-top: 0;
}
/* line 198, ../_sass/screen.sass */
.post_intro p, .post_intro ul {
  width: 100%;
  margin: 15px 0;
  font-size: 20px;
  line-height: 150%;
}
/* line 204, ../_sass/screen.sass */
.post_intro p:first-of-type {
  margin-top: 0;
}
/* line 206, ../_sass/screen.sass */
.post_intro p:last-child {
  margin-bottom: 0;
}
/* line 208, ../_sass/screen.sass */
.post_intro ul {
  padding: 0;
  padding-left: 15px;
}
/* line 211, ../_sass/screen.sass */
.post_intro ul li {
  list-style-position: inside;
}

/* line 217, ../_sass/screen.sass */
.post_image {
  margin: 30px auto;
  clear: both;
  position: relative;
}

/* line 221, ../_sass/screen.sass */
.center {
  text-align: center;
}

/* line 223, ../_sass/screen.sass */
.float_right, .intro_image {
  float: right;
  margin: 15px;
  margin-right: 0;
}

/* line 230, ../_sass/screen.sass */
.video_embed {
  margin: 30px 0;
}
/* line 232, ../_sass/screen.sass */
.video_embed iframe {
  border: 2px solid #d9d8d6;
}

/* line 237, ../_sass/screen.sass */
.github {
  width: 660px;
  font-size: 13px;
  line-height: 150%;
  margin: 30px 0;
}

/* line 242, ../_sass/screen.sass */
.gist .gist-file .gist-data {
  padding: 15px;
}

/* line 245, ../_sass/screen.sass */
.code {
  background-color: #f7f6f4;
  color: #6b6760;
  overflow-x: scroll;
  font-size: 14px;
  margin: 15px 0;
  width: 646px;
  padding: 6px;
  font-family: monospace;
  border: 1px solid #d9d8d6;
}
/* line 255, ../_sass/screen.sass */
.code:hover {
  background-color: #d9d8d6;
}

/* line 258, ../_sass/screen.sass */
span.code {
  margin: 0;
  padding: 2px;
}

/* line 262, ../_sass/screen.sass */
div.code {
  border: 1px dashed #d9d8d6;
}

/* line 267, ../_sass/screen.sass */
table {
  font-family: monospace;
  border: 1px solid #d9d8d6;
  font-size: 14px;
  margin: 30px 0;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
/* line 275, ../_sass/screen.sass */
table th {
  font-size: 13px;
  font-family: "Helvetica Neue";
  font-weight: bold;
  padding: 8px;
  background: #c5c4c2;
  border-bottom: 2px solid white;
  color: black;
}
/* line 283, ../_sass/screen.sass */
table td {
  padding: 8px;
  width: 200px;
  background: #f7f6f4;
  border-bottom: 1px solid white;
  color: black;
  border-top: 1px solid transparent;
}
/* line 292, ../_sass/screen.sass */
table tr:hover td {
  background: #8c8c8c;
  color: white;
}

/* line 298, ../_sass/screen.sass */
.embed_type_content {
  display: inline-block;
  padding: 20px;
  width: 360px;
}

/* line 302, ../_sass/screen.sass */
.embed_type_image {
  margin-left: 20px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

/* line 310, ../_sass/screen.sass */
.post_footer {
  margin-top: 60px;
  clear: both;
}
/* line 313, ../_sass/screen.sass */
.post_footer ul {
  list-style-type: none;
}
/* line 315, ../_sass/screen.sass */
.post_footer ul li {
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
  width: 250px;
  font-size: 14px;
}

/* line 321, ../_sass/screen.sass */
.footer_content {
  padding: 25px;
}

/* line 323, ../_sass/screen.sass */
.for_developers {
  background-color: rgba(240, 129, 139, 0.2);
  border: 2px solid rgba(240, 129, 139, 0.8);
}

/* line 326, ../_sass/screen.sass */
.for_beginners {
  background-color: rgba(73, 145, 196, 0.2);
  border: 2px solid #4991c4;
}

/* line 332, ../_sass/screen.sass */
#right_col {
  display: inline-block;
  vertical-align: top;
  width: 225px;
  margin: 45px 0 0 30px;
  height: 100%;
  position: fixed;
}
/* line 339, ../_sass/screen.sass */
#right_col ul {
  background-color: white;
  padding: 10px;
}
/* line 342, ../_sass/screen.sass */
#right_col ul li:first-of-type {
  background-color: #f0af81;
  text-align: center;
  margin-top: -10px;
  margin-left: -10px;
  width: 215px;
  padding: 5px;
  height: 100%;
  min-height: 35px;
  margin-bottom: 15px;
}
/* line 352, ../_sass/screen.sass */
#right_col ul li:first-of-type a {
  position: relative;
  height: 100%;
  font-size: 16px;
  color: white;
}
/* line 357, ../_sass/screen.sass */
#right_col li {
  padding: 5px;
  margin-bottom: 15px;
}
/* line 360, ../_sass/screen.sass */
#right_col li a {
  color: #6b6760;
  font-size: 14px;
  text-decoration: none;
}
/* line 364, ../_sass/screen.sass */
#right_col .current > a {
  color: #4991c4;
}

/* line 367, ../_sass/screen.sass */
.clear {
  clear: both;
}
