/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../.rvm/gems/ruby-1.9.3-p0@wistia-doc/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 28, ../_sass/screen.sass */
body {
  font-family: Gill Sans Infant, Arial, sans-serif;
  background-color: #f7f6f4;
  color: #6b6760;
}
/* line 32, ../_sass/screen.sass */
body a {
  color: #4991c4;
  text-decoration: none;
}

/* line 36, ../_sass/screen.sass */
h1, h2, h3 {
  color: #333333;
}

/* line 38, ../_sass/screen.sass */
h1 {
  font-size: 32px;
}

/* line 40, ../_sass/screen.sass */
p {
  font-size: 16px;
  line-height: 115%;
}

/* line 43, ../_sass/screen.sass */
strong {
  font-weight: bold;
  color: #333333;
}

/* line 50, ../_sass/screen.sass */
header {
  width: 100%;
  background-color: #f7f6f4;
  position: relative;
  height: 40px;
  border-bottom: 2px solid #d9d8d6;
}
/* line 56, ../_sass/screen.sass */
header #header_container {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  position: relative;
}
/* line 61, ../_sass/screen.sass */
header #header_container #logo {
  left: 0;
}
/* line 63, ../_sass/screen.sass */
header #header_container #logo a {
  position: absolute;
  background: transparent url(/images/wistia_logo_header.png) no-repeat;
  width: 115px;
  height: 40px;
}
/* line 68, ../_sass/screen.sass */
header #header_container #logo a:hover {
  background-position-y: -40px;
}
/* line 70, ../_sass/screen.sass */
header #header_container #header_nav {
  position: absolute;
  right: 17px;
}
/* line 73, ../_sass/screen.sass */
header #header_container #header_nav ul {
  height: 40px;
}
/* line 75, ../_sass/screen.sass */
header #header_container #header_nav ul li {
  display: inline-block;
  position: relative;
}
/* line 79, ../_sass/screen.sass */
header #header_container #header_nav ul li:last-child a {
  padding-right: 0;
}
/* line 81, ../_sass/screen.sass */
header #header_container #header_nav li a {
  display: block;
  padding: 10px 25px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #8c8c8c;
  text-shadow: 0 0 2px white;
  outline: none;
}
/* line 90, ../_sass/screen.sass */
header #header_container #header_nav li a:hover {
  color: #444444;
}

/* line 95, ../_sass/screen.sass */
.home {
  text-align: center;
  margin: 100px auto 0;
}

/* line 99, ../_sass/screen.sass */
#container {
  width: 980px;
  margin: 40px auto;
}

/* line 103, ../_sass/screen.sass */
#content {
  display: inline-block;
}

/* line 110, ../_sass/screen.sass */
#articles_list {
  width: 660px;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
}

/* line 116, ../_sass/screen.sass */
.category_title {
  margin-bottom: 30px;
}
/* line 118, ../_sass/screen.sass */
.category_title h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #8dc63f;
  border-bottom: 1px solid #8dc63f;
  padding-bottom: 5px;
}

/* line 125, ../_sass/screen.sass */
.post_list {
  margin-bottom: 10px;
}
/* line 127, ../_sass/screen.sass */
.post_list a {
  text-decoration: none;
  font-size: 14px;
}
/* line 130, ../_sass/screen.sass */
.post_list a:hover {
  color: #2b73a6;
}

/* line 135, ../_sass/screen.sass */
#doc_nav {
  background-color: #f0af81;
  width: 720px;
}
/* line 138, ../_sass/screen.sass */
#doc_nav #doc_nav_container {
  margin: 0 auto;
  position: relative;
}
/* line 141, ../_sass/screen.sass */
#doc_nav #doc_nav_container ul {
  padding: 0;
  margin: 0;
}
/* line 144, ../_sass/screen.sass */
#doc_nav #doc_nav_container ul li {
  display: inline-block;
  height: 45px;
  margin-left: 30px;
}
/* line 148, ../_sass/screen.sass */
#doc_nav #doc_nav_container ul li a {
  position: relative;
  padding: 14px 5px;
  top: 14px;
  height: 40px;
  color: white;
}

/* line 157, ../_sass/screen.sass */
#post {
  display: inline-block;
  width: 660px;
  padding: 30px;
  background-color: white;
  clear: both;
}

/* line 164, ../_sass/screen.sass */
.post_title {
  margin-bottom: 30px;
}

/* line 169, ../_sass/screen.sass */
.post_content {
  width: 660px;
}
/* line 171, ../_sass/screen.sass */
.post_content h2, .post_content hr {
  margin: 30px 0;
  clear: both;
}
/* line 174, ../_sass/screen.sass */
.post_content h2, .post_content h3 {
  line-height: 120%;
}
/* line 176, ../_sass/screen.sass */
.post_content h2 {
  font-size: 24px;
}
/* line 178, ../_sass/screen.sass */
.post_content h3, .post_content p, .post_content ul, .post_content ol {
  margin: 15px 0;
}
/* line 180, ../_sass/screen.sass */
.post_content h3 {
  font-size: 18px;
  clear: both;
}
/* line 183, ../_sass/screen.sass */
.post_content p {
  line-height: 150%;
  position: relative;
}
/* line 186, ../_sass/screen.sass */
.post_content ul, .post_content ol {
  padding-left: 30px;
  line-height: 150%;
}
/* line 189, ../_sass/screen.sass */
.post_content ul {
  list-style-type: disc;
}
/* line 191, ../_sass/screen.sass */
.post_content ol {
  list-style: decimal;
}
/* line 193, ../_sass/screen.sass */
.post_content ol li {
  margin-top: 15px;
}

/* line 198, ../_sass/screen.sass */
.post_intro {
  margin-left: -30px;
  margin-bottom: 30px;
  background-color: #f7f6f4;
  padding: 30px;
}
/* line 204, ../_sass/screen.sass */
.post_intro h2:first-of-type {
  margin-top: 0;
}
/* line 206, ../_sass/screen.sass */
.post_intro p, .post_intro ul {
  width: 100%;
  margin: 15px 0;
  font-size: 20px;
  line-height: 150%;
}
/* line 212, ../_sass/screen.sass */
.post_intro p:first-of-type {
  margin-top: 0;
}
/* line 214, ../_sass/screen.sass */
.post_intro p:last-child {
  margin-bottom: 0;
}
/* line 216, ../_sass/screen.sass */
.post_intro ul {
  padding: 0;
  padding-left: 15px;
}
/* line 219, ../_sass/screen.sass */
.post_intro ul li {
  list-style-position: inside;
}

/* line 225, ../_sass/screen.sass */
.post_image {
  margin: 30px auto;
  clear: both;
  position: relative;
}

/* line 229, ../_sass/screen.sass */
.center {
  text-align: center;
}

/* line 231, ../_sass/screen.sass */
.float_right, .intro_image {
  float: right;
  margin: 15px;
  margin-right: 0;
}

/* line 238, ../_sass/screen.sass */
.video_embed {
  margin: 30px 0;
}
/* line 240, ../_sass/screen.sass */
.video_embed iframe {
  border: 2px solid #d9d8d6;
}

/* line 245, ../_sass/screen.sass */
.github {
  width: 660px;
  font-size: 13px;
  line-height: 150%;
  margin: 30px 0;
}

/* line 250, ../_sass/screen.sass */
.gist .gist-file .gist-data {
  padding: 15px;
}

/* line 253, ../_sass/screen.sass */
.code {
  background-color: #f7f6f4;
  color: #6b6760;
  overflow-x: scroll;
  font-size: 14px;
  margin: 15px 0;
  width: 646px;
  padding: 6px;
  font-family: monospace;
  border: 1px dashed #d9d8d6;
}
/* line 263, ../_sass/screen.sass */
.code:hover {
  background-color: #d9d8d6;
}

/* line 266, ../_sass/screen.sass */
span.code {
  margin: 0;
  padding: 2px;
}

/* line 272, ../_sass/screen.sass */
table {
  font-family: monospace;
  border: 1px solid #d9d8d6;
  font-size: 14px;
  margin: 30px 0;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
/* line 280, ../_sass/screen.sass */
table th {
  font-size: 13px;
  font-family: "Helvetica Neue";
  font-weight: bold;
  padding: 8px;
  background: #c5c4c2;
  border-bottom: 2px solid white;
  color: black;
}
/* line 288, ../_sass/screen.sass */
table td {
  padding: 8px;
  width: 200px;
  background: #f7f6f4;
  border-bottom: 1px solid white;
  color: black;
  border-top: 1px solid transparent;
}
/* line 297, ../_sass/screen.sass */
table tr:hover td {
  background: #8c8c8c;
  color: white;
}

/* line 303, ../_sass/screen.sass */
.embed_type_content {
  display: inline-block;
  padding: 20px;
  width: 360px;
}

/* line 307, ../_sass/screen.sass */
.embed_type_image {
  margin-left: 20px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

/* line 315, ../_sass/screen.sass */
.post_footer {
  margin-top: 60px;
  clear: both;
}
/* line 318, ../_sass/screen.sass */
.post_footer ul {
  list-style-type: none;
}
/* line 320, ../_sass/screen.sass */
.post_footer ul li {
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
  width: 250px;
  font-size: 14px;
}

/* line 326, ../_sass/screen.sass */
.footer_content {
  padding: 25px;
}

/* line 328, ../_sass/screen.sass */
.for_developers {
  background-color: rgba(240, 129, 139, 0.2);
  border: 2px solid rgba(240, 129, 139, 0.8);
}

/* line 331, ../_sass/screen.sass */
.for_beginners {
  background-color: rgba(73, 145, 196, 0.2);
  border: 2px solid #4991c4;
}

/* line 337, ../_sass/screen.sass */
#right_col {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin: 45px 0 0 30px;
  height: 100%;
  position: fixed;
}
/* line 344, ../_sass/screen.sass */
#right_col ul {
  background-color: white;
  padding: 10px;
}
/* line 347, ../_sass/screen.sass */
#right_col ul li:first-of-type {
  background-color: #f0af81;
  text-align: center;
  margin-top: -10px;
  margin-left: -10px;
  width: 210px;
  padding: 5px;
  height: 100%;
  min-height: 35px;
  margin-bottom: 15px;
}
/* line 357, ../_sass/screen.sass */
#right_col ul li:first-of-type a {
  position: relative;
  height: 100%;
  font-size: 16px;
  color: white;
}
/* line 362, ../_sass/screen.sass */
#right_col li {
  padding: 5px;
  margin-bottom: 15px;
}
/* line 365, ../_sass/screen.sass */
#right_col li a {
  color: #6b6760;
  font-size: 14px;
  text-decoration: none;
}
/* line 369, ../_sass/screen.sass */
#right_col .current > a {
  color: #4991c4;
}

/* line 372, ../_sass/screen.sass */
.clear {
  clear: both;
}

/* line 377, ../_sass/screen.sass */
.search_bar {
  margin-bottom: 30px;
}
/* line 379, ../_sass/screen.sass */
.search_bar #home {
  width: 720px;
}
/* line 381, ../_sass/screen.sass */
.search_bar input {
  width: 80%;
  height: 16px;
  font-size: 14px;
}
/* line 385, ../_sass/screen.sass */
.search_bar button {
  font-size: 14px;
}

/* line 388, ../_sass/screen.sass */
#results {
  min-height: 350px;
}

/* line 390, ../_sass/screen.sass */
.results_header {
  border-bottom: 1px solid;
  margin-bottom: 60px;
}

/* line 393, ../_sass/screen.sass */
.result {
  margin: 30px 0 60px;
}
/* line 395, ../_sass/screen.sass */
.result h2 {
  margin: 0;
}
/* line 397, ../_sass/screen.sass */
.result a {
  font-size: 24px;
}
/* line 399, ../_sass/screen.sass */
.result p {
  margin-top: 15px;
  width: 550px;
}
