\---
layout: post
title: Four-oh-Four-fo-Real
type: 404
\---

%p
  There is nothing here - must have been moved or somethin.
%p
  Head back to the 
  %a{ href: "{{ '/' | post_url }}" } Main Page
  or try searching for something!

