\---
layout: base
title: DevHQ
type: devhq
\---

.devhq_header 
  .tiled_wall
    .one_tile 
      &lt;/&gt;
  .subheader
    #devhq_subtitle.devhq_accent_blue
      built by nerds, for nerds

.content_container
  .api_button_garden
    .column
      #player_api.api_garden_square
        %a Player API
        %p
          Well, the way they make shows is, they make one show. 
          That show's called a pilot. 
          Then they show that show to the people who make shows, 
          and on the strength of that one show they decide if 
          they're going to make more shows. 
      #playlist_api.api_garden_square.last-child
        %a Playlist API
        %p
          Well, the way they make shows is, they make one show. 
          That show's called a pilot. 
          Then they show that show to the people who make shows, 
          and on the strength of that one show they decide if 
          they're going to make more shows. 

    .column
      #upload_api.api_garden_square
        %a Upload API
        %p
          Well, the way they make shows is, they make one show. 
          That show's called a pilot. 
          Then they show that show to the people who make shows, 
          and on the strength of that one show they decide if 
          they're going to make more shows. 
      #stats_api.api_garden_square.last-child
        %a Stats API
        %p
          Well, the way they make shows is, they make one show. 
          That show's called a pilot. 
          Then they show that show to the people who make shows, 
          and on the strength of that one show they decide if 
          they're going to make more shows. 

    .column.last-child
      #data_api.api_garden_square
        %a Data API
        %p
          Well, the way they make shows is, they make one show. 
          That show's called a pilot. 
          Then they show that show to the people who make shows, 
          and on the strength of that one show they decide if 
          they're going to make more shows. 
      #embed_api.api_garden_square.last-child
        %a Embed API
        %p
          Well, the way they make shows is, they make one show. 
          That show's called a pilot. 
          Then they show that show to the people who make shows, 
          and on the strength of that one show they decide if 
          they're going to make more shows. 

.devhq_footer
  .content_container
    %a go to the developers forum


%script{ src: "{{ '/javascripts/devhq' | javascript_url }}" }
