\---
layout: base
title: Help Videos
category: Wistia Basics
\---
.content_container
  .wistia-basics-header
    %ul
      %li.project-title
        %h1
          Help Videos
      %li.project-description
        Not sure how your Wistia account works? Just want to learn about Jeff's side
        business? Check out the Getting Started series all about Uploading, Customizing,
        Timeline Actions, Embedding, and Stats.
  %script{:async => "", :charset => "ISO-8859-1", :src => "//fast.wistia.com/assets/external/E-v1.js"}
  #top_video_container
    .wistia_responsive_padding{:style => "padding:56.25% 0 0 0;position:relative;"}
      .wistia_responsive_wrapper{:style => "height:100%;left:0;position:absolute;top:0;width:100%;"}
        .wistia_embed.wistia_async_xoqgq8ntw1{:class => "videoFoam=true playlistLinks=onboarding", :style => "height:100%;width:100%"}  
  %br/
  %br/
  #onboarding.wistia_playlist_links
    .media-tiles-container
      .media-tiles
        .row
          .media-tile
            %a{:href => "#wistia_xoqgq8ntw1"}
              .thumbnail_color
                %img{"data-video_hashed_id" => "xoqgq8ntw1", :img => "", :src => "http://embed.wistia.com/deliveries/543311bdb9043bd15b824f390743dd06045cd6e6.jpg"}/
            .info
              .title
                %a{:href => "#wistia_xoqgq8ntw1"}
                  Uploading
              .description
                Let's walk through a quick guide to uploading your videos to Wistia.
          .media-tile.second_column
            %a{:href => "#wistia_99q1940jk1"}
              .thumbnail_color
                %img{"data-video_hashed_id" => "99q1940jk1", :src => "http://embed.wistia.com/deliveries/27820a2e6a80391cabdbeb9078acfcafeba6beaf.jpg"}/
            .info
              .title
                %a{:href => "#wistia_99q1940jk1"}
                  Customizing
              .description
                Now let's customize that amazing video!
        .row
          .media-tile
            %a{:href => "#wistia_wh03at0t7x"}
              .thumbnail_color
                %img{"data-video_hashed_id" => "wh03at0t7x", :src => "http://embed.wistia.com/deliveries/c52439f5320b26611a4029a358e91dd558d91fe5.jpg"}/
            .info
              .title
                %a{:href => "#wistia_wh03at0t7x"}
                  Timeline Actions
              .description
                Let's dive deeper into the awesome tools in Timeline Actions.
                This video is all about Turnstile email collector, Annotation links
                and Calls to Action.
          .media-tile.second_column
            %a{:href => "#wistia_6zu83mlw8x"}
              .thumbnail_color
                %img{"data-video_hashed_id" => "6zu83mlw8x", :src => "http://embed.wistia.com/deliveries/544dc5b010d3c6914e5541f2c89e13d2321b954e.jpg"}/
            .info
              .title
                %a{:href => "#wistia_6zu83mlw8x"}
                  Embed and Share
              .description
                Now that you've made the video perfect, it's time to share it with
                the world!
          .media-tiles-container
            .media-tiles
              .row
                .media-tile
                  %a{:href => "#wistia_nl4cr3xh1l"}
                    .thumbnail_color
                      %img{"data-video_hashed_id" => "nl4cr3xh1l", :src => "http://embed.wistia.com/deliveries/c7364db82adc854bd9771cc03eb81b2148777231.jpg"}/
                  .info
                    .title
                      %a{:href => "#wistia_nl4cr3xh1l"}
                        Stats
                    .description
                      Now that your video has been watched a bit, you should check out
                      the awesome stats!
<script type='text/javascript'>
window._wq = window._wq || [];
_wq.push(function(W) {
W.api(function(video) {
if (/[&?]uploading/i.test(location.href)) {
$('#top_video_container').replaceWith('<div class="wistia_embed wistia_async_xoqgq8ntw1 videoFoam=true autoPlay=true playlistLinks=onboarding " style="height:100%;width:100%">&nbsp;</div>')
} else if (/[&?]customizing/i.test(location.href)) {
$('#top_video_container').replaceWith('<div class="wistia_embed wistia_async_99q1940jk1 videoFoam=true autoPlay=true playlistLinks=onboarding " style="height:100%;width:100%">&nbsp;</div>')
} else if (/[&?]timeline-actions/i.test(location.href)) {
$('#top_video_container').replaceWith('<div class="wistia_embed wistia_async_wh03at0t7x videoFoam=true autoPlay=true playlistLinks=onboarding " style="height:100%;width:100%">&nbsp;</div>')
} else if (/[&?]embedding/i.test(location.href)) {
$('#top_video_container').replaceWith('<div class="wistia_embed wistia_async_6zu83mlw8x videoFoam=true autoPlay=true playlistLinks=onboarding " style="height:100%;width:100%">&nbsp;</div>')
} else if (/[&?]stats/i.test(location.href)) {
$('#top_video_container').replaceWith('<div class="wistia_embed wistia_async_nl4cr3xh1l videoFoam=true autoPlay=true playlistLinks=onboarding " style="height:100%;width:100%">&nbsp;</div>')
}
});
});
</script>
