\---
layout: base
title: Main
type: main
no_nav: true
\---

.home_header
  .content_container
    #home_logo

    .search_bar
      %input#search_text{type: "text", placeholder: "what are you looking for?" }
      %button#search_button Search!

.home_body
  .most_popular_wrapper
    .content_container
      .most_popular_body
        .most_popular_title
          %h1 
            The Greatest Hits
        .articles_list
          %ul.post_list
            %li
              %a{ href: "{{ '/wistia-basics' | post_url }}" } 
                Wistia Basics Video Series
            %li
              %a{ href: "{{ '/account-setup' | post_url }}" } Account Setup
            %li
              %a{ href: "{{ '/upload-video' | post_url }}" } Uploading Video
            %li
              %a{ href: "{{ '/embedding' | post_url }}" } Embedding Your Video
            %li
              %a{ href: "{{ '/embedded-video-analytics' | post_url }}" } 
                Wistia Analytics
            %li
              %a{ href: "{{ '/developers' | post_url }}" } For Developers
  .content_container
    .all_articles_wrapper
      .col
        .articles_list
          %ul
            %li.category_card
              %h3 
                %a{ href: "{{ 'getting-set-up' | category_url }}" } 
                  Getting Set Up
              %ul.post_list
                %li
                  %a{ href: "{{ '/account-setup' | post_url }}" } 
                    Account Setup
                %li
                  %a{ href: "{{ '/viewer-rec' | post_url }}" } 
                    What Viewers Need to Watch Wistia Video
                %li
                  %a{ href: "{{ '/export-settings' | post_url }}" } 
                    Optimal Export Settings
                %li
                  %a{ href: "{{ '/exporting-guide' | post_url }}" } 
                    Exporting From Video Editors
                %li
                  %a{ href: "{{ '/projects' | post_url }}" } 
                    Guide to Projects in Wistia
                %li
                  %a{ href: "{{ '/media' | post_url }}" } 
                    Guide to Using Media in Wistia
                %li
                  %a{ href: "{{ '/security' | post_url }}" } 
                    Wistia Video Security

            %li.category_card
              %h3 
                %a{ href: "{{ 'embedding' | category_url }}" } 
                  Embedding
              %ul.post_list
                %li
                  %a{ href: "{{ '/embedding' | post_url }}" } 
                    Embedding Video on Your Website
                %li
                  %a{ href: "{{ '/embed-screen' | post_url }}" } 
                    Using the SuperEmbed Screen
                %li
                  %a{ href: "{{ '/playlists' | post_url }}" } 
                    Video Playlists
                %li
                  %a{ href: "{{ '/social-sharing' | post_url }}" } 
                    Social Sharing
                %li
                  %a{ href: "{{ '/domain-restrictions' | post_url }}" } 
                    Domain Restrictions
                %li
                  %a{ href: "{{ '/transcripts' | post_url }}" } 
                    Interactive Transcripts and Captions

            %li.category_card.last
              %h3 
                %a{ href: "{{ 'private-sharing' | category_url }}" } 
                  Private Sharing
              %ul.post_list
                %li
                  %a{ href: "{{ '/private-sharing' | post_url }}" } 
                    Sharing Video Privately
                %li
                  %a{ href: "{{ '/contacts' | post_url }}" } 
                    Contact Management
                %li
                  %a{ href: "{{ '/permissions' | post_url }}" } 
                    Permission Types in Wistia
                %li
                  %a{ href: "{{ '/alerts' | post_url }}" } 
                    Tracking Alerts

      .col
        .articles_list
          %ul
            %li.category_card
              %h3 
                %a{ href: "{{ 'analytics' | category_url }}" } Analytics
              %ul.post_list
                %li
                  %a{ href: "{{ '/embedded-video-analytics' | post_url }}" } 
                    Analytics for Embedded Video
                %li
                  %a{ href: "{{ '/private-analytics' | post_url }}" } 
                    Analytics for Private Video
                %li
                  %a{ href: "{{ '/identity-tagging' | post_url }}" } 
                    Identity Tagging

            %li.category_card
              %h3 
                %a{ href: "{{ 'integrations' | category_url }}" } 
                  Integrations
              %ul.post_list
                %li
                  %a{ href: "{{ '/integrations' | post_url }}" } 
                    Integrations Index
                %li
                  %a{ href: "{{ '/drupal' | post_url }}" } Drupal
                %li
                  %a{ href: "{{ '/wordpress' | post_url }}" } Wordpress
                %li
                  %a{ href: "{{ '/google-analytics' | post_url }}" } 
                    Google Analytics
                %li
                  %a{ href: "{{ '/joomla' | post_url }}" } Joomla

            %li.category_card
              %h3 
                %a{ href: "{{ 'public-sharing' | category_url }}" } 
                  Public Sharing
              %ul.post_list
                %li
                  %a{ href: "{{ '/email-marketing' | post_url }}" } 
                    Email Marketing
                %li
                  %a{ href: "{{ '/video-seo' | post_url }}" } Video SEO
                %li
                  %a{ href: "{{ '/podcast' | post_url }}" } RSS/Podcasts
                %li
                  %a{ href: "{{ '/replaceable-video' | post_url }}" }
                    Replaceable Video

            %li.category_card.developers.last
              %h3 
                %a{ href: "{{ '/developers' | post_url }}" } For Developers
              %ul.post_list
                %li
                  %a{ href: "{{ '/player-api' | post_url }}" } The Player API
                %li
                  %a{ href: "{{ '/data-api' | post_url }}" } The Data API
                %li
                  %a{ href: "{{ '/playlist-api' | post_url }}" } Playlist API
                %li
                  %a{ href: "{{ '/construct-an-embed-code' | post_url }}" } 
                    Constructing Embed Codes
                %li
                  %a{ href: "{{ '/oembed' | post_url }}" } oEmbed
                %li
                  %a{ href: "{{ '/popover-customization' | post_url }}" } 
                    Popover Style Customization
                %li
                  %a{ href: "{{ '/player-id-tag' | post_url }}" } 
                    Embed Code ID Tagging
                %li
                  %a{ href: "{{ '/upload-widget-specs' | post_url }}" } 
                    Upload Widgets

:javascript
  var iOS = ( navigator.userAgent.match(/(iPad|iPhone|iPod)/i) ? true : false );

  if (!iOS) {
    $('.post_list li').each( function() {
      var $this = $(this),
        $a = $this.find("a"),
        $hint = $this.find(".hint");
      $a.hover(function() {
        $hint.addClass("unhide");
      }, function() {
        $hint.removeClass("unhide");
      });
    });
  };
