\---
layout: post
\---

%div#results

:javascript

  $(document).ready(function() {
    var query = (window.location.href.split('?')[1] || "").split('=')[1],
      results_json;

    function send_search(query, callback) {
      $.getJSON("http://localhost:9393/search/" + query + "?format=json&amp;callback=?", function(data) { 
        callback(data);
      });
    }

    function convert_json_to_html(json) {
      title = json.title;
      description = json.description;
      url = json.url;

      return "<div class='result'><h2><a href='" + url + "'>" + title + "</a></h2>" + 
        "<p>" + description + "</p></div>";
    }

    function results_header(query) {
      return "<div class='results_header'><h1>results for '" + query.replace(/_/g, ' ') + "'</h1></div>";
    }

    if (query) {
      send_search(query, function(data) {
        var result_html = "",
          header = results_header(query);
          
        results_json = data.results;
        $.each(results_json, function(i, val) {
          result_html += convert_json_to_html(val);
        });

        $('#results').append( header ).append( result_html );
      });
    }

    $('.post_title').hide();
    $('.search_bar button').on('click', function() {
      var query = $('#search_text').val().replace(/ /g, '_');
      window.location.replace("http://localhost:4000/search.html?query=" + query );
    });

  });
