---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html;charset=utf-8' http-equiv='Content-Type' />
    <link href="{{ '/stylesheets/screen' | stylesheet_url }}" rel='stylesheet' type='text/css' />
    <script src="{{ '/javascripts/jquery.min' | javascript_url }}" type='text/javascript'></script>
    {% if page.developers %}
    <script src='//use.typekit.net/pft0gev.js' type='text/javascript'></script>
    <script type='text/javascript'>try{Typekit.load();}catch(e){}</script>
    {% endif %}
    <script type='text/javascript'>
      //<![CDATA[
        var basepath = "{{ '' | post_url }}";
      //]]>
    </script>
    <title>
      {% if page.title == '' %} wDoc {% else %} wDoc: {{ page.title }} {% endif %}
    </title>
  </head>
  <body class='{{ page.type }}_layout'>
    {% include header.html %}
    {% unless page.no_nav %}{% include doc_nav.html %}{% endunless %}
    <div class="{% if page.api %}api{% endif %}{% if page.type == 'devhq'%}devhq{% endif %}" id='container'>
      {{ content }}
    </div>
    {% include footer.html %}
    <!-- scripts and such -->
    {% include addons_js.html %}
    {% if page.developers != true %}
    <script src="{{ '/javascripts/d3.v2.min' | javascript_url }}"></script>
    <script src="{{ '/javascripts/voronoi' | javascript_url }}"></script>
    {% endif %}
    <script src="{{ '/javascripts/search_text' | javascript_url }}"></script>
    <script src='//wistia.com/javascripts/simplex.js'></script>
    <script type='text/javascript'>
      //<![CDATA[
        var simplex = new Simplex();
      //]]>
    </script>
  </body>
</html>
