<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html;charset=utf-8' http-equiv='Content-Type' />
    <link href='/stylesheets/screen.css' rel='stylesheet' type='text/css' />
    <title>
      Wistia Documentation
    </title>
  </head>
  <body>
    <header class='home'>
      <h1>
        Wistia Documentation
      </h1>
    </header>
    <div id='container'>
      <div id='search_bar' style='text-align:center;'>
        <div class='bar_part' style='width:80%;height:40px;margin:0 auto 40px;background-color:white;display:inline-block;border: 2px solid red;'></div>
        <div class='label' style='width:5%;display:inline-block;text-align:left;vertical-align:top;margin-top:15px;'>Search!</div>
      </div>
      <div id='content'>
        <section>
          {{ content }}
        </section>
      </div>
    </div>
  </body>
</html>
