---
layout: base
type: post
---
<div class='content_container'>
  <div id='post_content_nav'>
    <ul id='page_nav'></ul>
  </div>
  <div id='post_container'>
    <div id='post'>
      <a href='#top' id='top-link'>to the tippy &uarr;</a>
      <div class='post_title'>
        <h1>{{ page.title }}</h1>
      </div>
      <div class='post_content' data-swiftype-name='body' data-swiftype-type='text'>
        {% if page.api_warning %}{% include api_warning.html %}{% endif %}
        {% if page.post_intro %}
        <div class='post_intro'>
          {{ page.post_intro }}
        </div>
        {% endif %}
        {{ content }}
      </div>
      {% if page.api != true %}
      <div class='post_footer'>
        {% case page.footer %} {% when 'for_intermediates' %} {% include for_intermediates.html %} {% else %} {% include for_beginners.html %} {% endcase %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
<script src="{{ '/javascripts/jquery.scrollTo' | javascript_url }}"></script>
<script src="{{ '/javascripts/jquery.nav' | javascript_url }}"></script>
{% include swiftype_hack.html %}
{% if page.api == true %}
{% include toplink.html %}
<script type='text/javascript'>
  //<![CDATA[
    var api = true;
  //]]>
</script>
{% else %}
<script type='text/javascript'>
  //<![CDATA[
    var api = false;
  //]]>
</script>
{% endif %}
{% include post_js.html %}
{% include qualaroo.html %}
<script type='text/javascript'>
  //<![CDATA[
    var keepFixed = false;
    
    $(function() {
      var windowHeight = $(window).height();
      var postContentNavHeight = $('#page_nav').outerHeight();
      if (windowHeight < postContentNavHeight) {
        keepFixed = true;
      }
    });
    
    $(window).scroll(function(){
      var scroll = $(document).scrollTop();
      var docHeight = $(document).height();
      var navHeight = $('#page_nav').height();
      var footerHeight = 286;
      var bottomPadding = 55;
      var yPosition = scroll + navHeight;
      var pageHeight = docHeight - footerHeight - bottomPadding - 25;
    
      if (!keepFixed) {
        if (scroll >= 250 && yPosition < pageHeight) {
          $('#page_nav').addClass('fixedPosition');
          $('#page_nav').removeClass('bottomPadding');
        } else if (yPosition >= pageHeight){
          $('#page_nav').removeClass('fixedPosition');
          $('#page_nav').addClass('bottomPadding');
        } else {
          $('#page_nav').removeClass('fixedPosition');
          $('#page_nav').removeClass('bottomPadding');
        };
      };
    });
  //]]>
</script>
