---
layout: base
type: post
---
<div id='post_content_nav'>
  <ul id='page_nav'></ul>
</div>
<div id='post_container'>
  <div id='post'>
    <a href='#top' id='top-link'>to the tippy &uarr;</a>
    <div class='post_title'>
      <h1>{{ page.title }}</h1>
    </div>
    <div class='post_content'>
      {% if page.post_intro %}
      <div class='post_intro'>
        {{ page.post_intro | md_to_html }}
      </div>
      {% endif %}
      {{ content }}
    </div>
    {% if page.api != true %}
    <div class='post_footer'>
      {% case page.footer %} {% when 'for_developers' %} {% include for_developers.html %} {% when 'for_intermediates' %} {% include for_intermediates.html %} {% else %} {% include for_beginners.html %} {% endcase %}
    </div>
    {% endif %}
  </div>
</div>
<script src="{{ '/javascripts/jquery.scrollTo' | javascript_url }}"></script>
<script src="{{ '/javascripts/jquery.nav' | javascript_url }}"></script>
<script src="{{ '/javascripts/image_layout' | javascript_url }}"></script>
{% if page.api == true %}
{% include toplink.html %}
<script type='text/javascript'>
  //<![CDATA[
    var api = true;
  //]]>
</script>
{% else %}
<script type='text/javascript'>
  //<![CDATA[
    var api = false;
  //]]>
</script>
{% endif %}
{% include post_js.html %}
